<template name="skillsElement">
    <div id="ski{{count}}">
        <div class="col m4">
            <div class="row">
                <div class="col m12 l12 white info-block z-depth-2 top-bot-pad" style="display:flex">
                    <div class="input-field col m6 l6">
                        {{>afFieldInput name=(getSkill count) id=(getSkill count) class="validate attribute"}}
                        <label class="active" for="skills.{{count}}.skill">Įgūdis</label>
                    </div>
                    <div class="input-field col m4 l4">
                        <label>Patirtis</label>
                        {{>afFieldInput name=(getExperience count) id=(getExperience count) type="select" class="validate" firstOption=false}}
                    </div>
                    <div class="col m2 l2" style="padding:0; display: flex">
                        <button style="height:inherit" type="button" class="col m12 l12 btn red center removeSkill" id="removeSkill_{{count}}"><i style="margin-bottom:10px" class="material-icons right">clear</i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>