<template name="companyEditScrollspy">
    <ul class="section table-of-contents" style="position:fixed">
        <li><a href="#mainInfo">Pagrindinė informacija</a></li>
        <li><a href="#description">Įmonės aprašymas</a></li>
        <li><a href="#pictures">Nuotraukos</a></li>
        <li><a href="#weOffer">Mes siūlome</a></li>
        <li class="center"><button type="submit" class="register btn orange accent-3">Išsaugoti</button></li>
    </ul>
</template>