<template name="educationElement">
    <div id="edu{{count}}">
        <div class="row no-margin-bot">
            <div class="col m12">
                <div class="row no-margin-bot">
                    <div class="col m12 l12 white z-depth-2 top-bot-pad">
                        <div class="input-field col m6 l6">
                            <label>Išsilavinimas</label>
                            {{>afFieldInput name=(getDegreeType count) type="select" id=(getDegreeType count) class="validate" firstOption=false}}
                        </div>
                        <div class="input-field col m6 l6">
                            <!--{{>afFieldInput name=(getDegreeName count) id=(getDegreeName count) class="validate"}}-->
                            <input type="text" name={{getDegreeName count}} id={{getDegreeName count}} class="{{#if afFieldIsInvalid name=(getDegreeName count)}}invalid{{else}}valid{{/if}}"
                                   required="" data-schema-key="{{getDegreeName count}}" value={{getDegreeNameValue post count}}>
                            <label class="active" for="education.{{count}}.degree_name">Mokslų pavadinimas</label>
                        </div>
                        <div class="input-field col m6 l6">
                            <input type="text" name={{getInstitutionName count}} id={{getInstitutionName count}} class="{{#if afFieldIsInvalid name=(getInstitutionName count)}}invalid{{else}}valid{{/if}}"
                                   required="" data-schema-key="{{getInstitutionName count}}" value={{getInstitutionNameValue post count}}>
                            <label class="active" for="education.{{count}}.institution_name">Mokymo įstaigos pavadinimas</label>
                        </div>
                        <div class="input-field col m3 l3">
                            <label>Mokslų pradžia</label>
                            {{>afFieldInput name=(getStartYear count) type="select" id=(getStartYear count) class="validate educationStart" firstOption=false}}
                        </div>
                        <div class="input-field col m3 l3">
                            <label>Mokslų pabaiga</label>
                            {{>afFieldInput name=(getEndYear count) type="select" id=(getEndYear count) class="validate educationEnd" firstOption=false}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row center">
            <div class="col m12 l12">
                <button type="button" class="col m12 l12 btn red center removeEducation" id="removeEducation_{{count}}">Pašalinti<i class="material-icons right">clear</i></button>
            </div>
        </div>
    </div>
</template>