<template name="weOfferElement">
    <div id="offer{{count}}">
        <div class="col m4 l4">
            <div class="row">
                <div class="col m12 l12  no-pad white info-block z-depth-2" style="display: flex">
                    <div class="col m10 l10">
                        <div class="input-field">
                            {{>afFieldInput name=(getWeOffer count) type="text" id=(getWeOffer count) class="validate attribute"}}
                            <label class="active" for="weOffer.{{count}}.name">Mes siūlome</label>
                        </div>
                    </div>
                    <div class="col m2 l2" style="padding:0; display: flex">
                        <button style="height:inherit" type="button" class="col m12 l12 btn red center removeWeOffer"  id="remove_{{count}}"><i style="margin-bottom:10px" class="material-icons">clear</i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>