<template name="bookmarkIndex">
    {{#if subsReady}}
    <div class="row no-margin-bot">
        <div class="col m10">
            <div class="section scrollspy" id="main">
                <div class="col m12 l12">
                    <div class="row">
                        <div class="col m12 l12 orange accent-2 white-text white z-depth-2">
                            <h4><i class="material-icons header-icon">bookmark_border</i>Išsaugoti vartotojai</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col m12 l12">
                            <div class="row">
                                <div class="col m12 l12 white z-depth-2">
                                    <div class="row">
                                        <table>
                                            <thead>
                                            <tr>
                                                <th data-field="age">Amžius</th>
                                                <th data-field="experience">Patirtis</th>
                                                <th data-field="degree">Išsilavinimas</th>
                                                <th data-field="languages">Kalbos</th>
                                                <th data-field="skills">Įgūdžiai</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {{#each results}}
                                                <tr>
                                                    <td>{{this.age}}</td>
                                                    <td>{{getExperience this}}</td>
                                                    <td>{{getDegree this}}</td>
                                                    <td>{{getLanguages this}}</td>
                                                    <td>{{getSkills this}}</td>
                                                    <td>
                                                        {{#unless isRequested this.user_id}}
                                                            <button class="btn btn-floating btn-large waves-effect waves-light orange request-button" value="{{this.user_id}}"><i class="large material-icons">shopping_cart</i></button>
                                                        {{/unless}}
                                                    </td>
                                                    <td>
                                                        <a href="/cv/view/{{this.user_id}}" class="btn btn-floating btn-large waves-effect waves-light green" id="{{this.user_id}}"><i class="large material-icons">info_outline</i></a>
                                                    </td>
                                                    <td>
                                                        <button class="btn btn-floating btn-large waves-effect waves-light red remove-bookmark" value="{{this.user_id}}"><i class="large material-icons">remove</i></button>
                                                    </td>
                                                </tr>
                                            {{/each}}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{else}}
    {{/if}}
</template>