<template name="recommendationsElement">
    <div id="rec{{count}}">
        <div class="row no-margin-bot">
            <div class="col m12">
                <div class="row no-margin-bot">
                    <div class="col m12 l12 white z-depth-2 top-bot-pad">
                        <div class="row">
                            <div class="input-field col m6 l6">
                                <input type="text" name={{getName count}} id={{getName count}} class="{{#if afFieldIsInvalid name=(getName count)}}invalid{{/if}}"
                                       required="" data-schema-key="{{getName count}}" value={{getNameValue post count}}>
                                <label class="active" for="recommendations.{{count}}.name" data-error="{{afFieldMessage name=(getName count)}}">Asmens vardas</label>
                            </div>
                            <div class="input-field col m6 l6">
                                <input type="text" name={{getCompany count}} id={{getCompany count}} class="{{#if afFieldIsInvalid name=(getCompany count)}}invalid{{/if}}"
                                       required="" data-schema-key="{{getCompany count}}" value={{getCompanyValue post count}}>
                                <label class="active" for="recommendations.{{count}}.company" data-error="{{afFieldMessage name=(getCompany count)}}">Atstovaujama įmonė</label>
                            </div>
                            <div class="input-field col m4 l4">
                                <input type="text" name={{getRole count}} id={{getRole count}} class="{{#if afFieldIsInvalid name=(getRole count)}}invalid{{/if}}"
                                       required="" data-schema-key="{{getRole count}}" value={{getRoleValue post count}}>
                                <label class="active" for="recommendations.{{count}}.role" data-error="{{afFieldMessage name=(getRole count)}}">Pareigos</label>
                            </div>
                            <div class="input-field col m4 l4">
                                <input type="text" name={{getEmail count}} id={{getEmail count}} class="{{#if afFieldIsInvalid name=(getEmail count)}}invalid{{/if}}"
                                       required="" data-schema-key="{{getEmail count}}" value={{getEmailValue post count}}>
                                <label class="active" for="recommendations.{{count}}.email" data-error="{{afFieldMessage name=(getEmail count)}}">El. paštas</label>
                            </div>
                            <div class="input-field col m4 l4">
                                <input type="text" name={{getPhone count}} id={{getPhone count}} class="{{#if afFieldIsInvalid name=(getPhone count)}}invalid{{/if}}"
                                       required="" data-schema-key="{{getPhone count}}" value={{getPhoneValue post count}}>
                                <label class="active" for="recommendations.{{count}}.phone" data-error="{{afFieldMessage name=(getPhone count)}}">Telefono numeris</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col m12 l12">
                <button type="button" class="z-depth-3 col m12 l12 btn red center removeRec" id="removeRec_{{count}}">Pašalinti<i class="material-icons right">clear</i></button>
            </div>
        </div>
    </div>
</template>