<template name="pastWorkElement">
    <div id="pastWork{{count}}">
        <div class="row no-margin-bot">
            <div class="col m12">
                <div class="row no-margin-bot">
                    <div class="col m12 l12 white z-depth-2 top-bot-pad">
                        <div class="row">
                            <div class="col m6 l6">
                                <div class="input-field">
                                    <label>Veiklos sritis</label>
                                    {{>afFieldInput name=(getWorkArea count) type="select" id=(getWorkArea count) class="validate" firstOption=false}}
                                </div>
                            </div>
                            <div class="col m6 l6">
                                <div class="input-field">
                                    <input type="text" name={{getCompanyName count}} id={{getCompanyName count}} class="{{#if afFieldIsInvalid name=(getCompanyName count)}}invalid{{else}}valid{{/if}}"
                                           required="" data-schema-key="{{getCompanyName count}}" value={{getCompanyNameValue post count}}>
                                    <label class="active" for="past_work.{{count}}.company_name">Įmonės pavadinimas</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col m6 l6">
                                <div class="input-field">
                                    <input type="text" name={{getWorkplaceWebsite count}} id={{getWorkplaceWebsite count}} class="{{#if afFieldIsInvalid name=(getWorkplaceWebsite count)}}invalid{{else}}valid{{/if}}"
                                           required="" data-schema-key="{{getWorkplaceWebsite count}}" value={{getWorkplaceWebsiteValue post count}}>
                                    <label class="active" for="past_work.{{count}}.workplace_website">Įmonės internetinis puslapis</label>
                                </div>
                            </div>
                            <div class="col m6 l6">
                                <div class="input-field">
                                    <input type="text" name={{getWorkTitle count}} id={{getWorkTitle count}} class="{{#if afFieldIsInvalid name=(getWorkTitle count)}}invalid{{else}}valid{{/if}}"
                                           required="" data-schema-key="{{getWorkTitle count}}" value={{getWorkTitleValue post count}}>
                                    <label class="active" for="past_work.{{count}}.work_title">Užimtos pareigos</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col m6 l6">
                                <div class="input-field col m6 l6">
                                    <label>Dirbti pradėjau</label>
                                    <select class="startTimeYear" value="{{getStartTimeYearValue post count}}" name="{{getStartTimeYear count}}" id="{{getStartTimeYear count}}" firstoption="false" required="" data-schema-key={{getStartTimeYear count}} autocomplete="off">
                                        {{#each years}}
                                            {{#if checkDate (getStartTimeYearValue ../post ../count) this}}
                                                <option selected value="{{this}}">{{this}}</option>
                                            {{else}}
                                                <option value="{{this}}">{{this}}</option>
                                            {{/if}}
                                        {{/each}}
                                    </select>

                                </div>
                                <div class="input-field col m6 l6">
                                    <select class="startTimeMonth" value="{{getStartTimeMonthValue post count}}" name="{{getStartTimeMonth count}}" id="{{getStartTimeMonth count}}" firstoption="false" required="" data-schema-key={{getStartTimeMonth count}} autocomplete="off">
                                        {{#each months}}
                                            {{#if checkDate (getStartTimeMonthValue ../post ../count) this}}
                                                <option selected value="{{this}}">{{this}}</option>
                                            {{else}}
                                                <option value="{{this}}">{{this}}</option>
                                            {{/if}}
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="col m6 l6">
                                <div class="input-field col m6 l6">
                                    <label>Dirbti Baigiau</label>
                                    <select class="endTimeYear" name="{{getEndTimeYear count}}" id="{{getEndTimeYear count}}" firstoption="false" required="" data-schema-key={{getEndTimeYear count}} autocomplete="off">
                                        {{#if checkDate (getEndTimeYearValue ../post ../count) this}}
                                            <option selected value=0>Vis dar dirbu</option>
                                        {{else}}
                                            <option value=0>Vis dar dirbu</option>
                                        {{/if}}
                                        {{#each years}}
                                            {{#if checkDate (getEndTimeYearValue ../post ../count) this}}
                                                <option selected value="{{this}}">{{this}}</option>
                                            {{else}}
                                                <option value="{{this}}">{{this}}</option>
                                            {{/if}}
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="input-field col m6 l6">
                                    <select class="endTimeMonth" value="{{getEndTimeMonthValue post count}}" name="{{getEndTimeMonth count}}" id="{{getEndTimeMonth count}}" firstoption="false" required="" data-schema-key={{getEndTimeMonth count}} autocomplete="off">
                                        {{#each months}}
                                            {{#if checkDate (getEndTimeMonthValue ../post ../count) this}}
                                                <option selected value="{{this}}">{{this}}</option>
                                            {{else}}
                                                <option value="{{this}}">{{this}}</option>
                                            {{/if}}
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="col m12 l12 red white-text" id="past_work.{{count}}.error">

                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col m12 l12">
                                {{>afFieldInput length="150" name=(getShortDescription count) type="textarea" id=(getShortDescription count) class="validate materialize-textarea pastWorkDesc"}}
                                <label class="active" for="past_work.{{counter}}.short_description">Darbo aprašymas</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row center">
            <div class="col m12 l12">
                <button type="button" class="z-depth-3 col m12 l12 btn red center removePastWork" id="removePastWork_{{count}}">Pašalinti<i class="material-icons right">clear</i></button>
            </div>
        </div>
    </div>
</template>