<template name="home">
    {{#if subsReady}}
    <div id="index-banner" class="light-blue lighten-4" >
        <div class="section no-pad-bot">
            <div class="container">
                <h1 class="header center white-text text-lighten-2">HIREHOO - maloni darbo paieška</h1>
                <div class="row center">
                    <h5 class="header col s12 light cyan-text text-lighten-5">Sistema, kuri leis vartotojams lengviau valdyti darbo paieškos procesą, o įmonėms sutaupyti pinigų</h5>
                </div>
                {{#unless isLoggedIn}}
                <div class="row center">
                    <div class="col s6 m6">
                        <a href="/signup" id="download-button" class="z-depth-3 btn-large waves-effect waves-light orange accent-3">Registruotis</a>
                    </div>
                    <div class="col s6 m6">
                        <a href="/login" id="download-button" class="z-depth-3 btn-large waves-effect waves-light orange accent-3">Prisijungti</a>
                    </div>
                </div>
                {{/unless}}
                <div class="row center">
                    <div class="col s12 m12 l12">
                        <img src="/images/env1.png">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="section">
        <!--   Icon Section   -->
        <div class="container white z-depth-2">
            <div class="row">
                <div class="col s12 m12 l4">
                    <div class="icon-block">
                        <!--<div style="background-repeat: no-repeat; background-position:center; background-image: url('/images/cloud.png'); width:100%; height:100%">-->
                        <div>
                            <h2 class="center grey-text text-darken-4"><i class="material-icons">flash_on</i></h2>
                            <h5 class="center grey-text text-darken-4">Duomenų valdymas tavo rankose</h5>
                        </div>
                        <p class="light grey-text text-darken-2">Hirehoo sistema leis darbo ieškantiems žmonėms patiems spręsti kurios įmonės gaus galimybę su jais bendrauti. Taigi joms teks pasitempti. </p>
                    </div>
                </div>

                <div class="col s12 m12 l4">
                    <div class="icon-block">
                        <h2 class="center grey-text text-darken-4"><i class="material-icons">group</i></h2>
                        <h5 class="center grey-text text-darken-4">Įmonės moka tik už rezultatus</h5>

                        <p class="light grey-text text-darken-2">Įmonės gauna prieigą prie vartotojų informacijos, bet ne kontaktų. Išsirink tinkamus kandidatus, paprašyk jų kontaktų ir tik tada mokėk.</p>
                    </div>
                </div>

                <div class="col s12 m12 l4">
                    <div class="icon-block">
                        <h2 class="center grey-text text-darken-4"><i class="material-icons">settings</i></h2>
                        <h5 class="center grey-text text-darken-4">Pats nuspręsk kur nori dirbti</h5>

                        <p class="light grey-text text-darken-2">Krisčio sistema leidžia ieškoti darbo neribotame kiekyje šalių ir miestų - visur pagal skirtingus parametrus.</p>
                    </div>
                </div>
            </div>
            <div class="row center" style="margin-bottom: 0px">
                <div class="col m12 l12">
                    <h5 class="header col s12 light grey-text text-darken-1">Pasidarė įdomu?</h5>
                    <div class="row center">
                        <div class="col m6 l6">
                            <a href="/login" id="download-button" class="z-depth-3 btn-large waves-effect waves-light orange accent-3">Informacija įmonėms</a>
                        </div>
                        <div class="col m6 l6">
                            <a href="/login" id="download-button" class="z-depth-3 btn-large waves-effect waves-light orange accent-3">Informacija ieškantiems darbo</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {{else}}
        <!--{{>loading}}-->
    {{/if}}

</template>
