<template name="requestIndex">
    {{#if subsReady}}
        <div class="row no-margin-bot">
            <div class="col m10">
                <div class="section scrollspy" id="main">
                    <div class="col m12 l12">
                        <div class="row">
                            <div class="col m12 l12 orange accent-2 white-text white z-depth-2">
                                <h4><i class="material-icons header-icon">comment</i>Atliktos užklausos</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col m12 l12">
                                <div class="row">
                                    <div class="col m12 l12 white z-depth-2">
                                        <table>
                                            <thead>
                                            <tr>
                                                <th data-field="age">Amžius</th>
                                                <th data-field="experience">Patirtis</th>
                                                <th data-field="degree">Išsilavinimas</th>
                                                <th data-field="languages">Kalbos</th>
                                                <th data-field="skills">Įgūdžiai</th>
                                                <th data-field="status"></th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {{#each results}}
                                                <tr>
                                                    <td>{{this.age}}</td>
                                                    <td>{{getExperience this}}</td>
                                                    <td>{{getDegree this}}</td>
                                                    <td>{{getLanguages this}}</td>
                                                    <td>{{getSkills this}}</td>
                                                    {{#if isAccepted this.user_id}}
                                                        <td><span class="btn-floating green" style="cursor: default !important;"><i class="large material-icons">thumb_up</i></span></td>
                                                    {{else}}
                                                        {{#if isRejected this.user_id}}
                                                            <td><span class="btn-floating red" style="cursor: default !important;"><i class="large material-icons">thumb_down</i></span></td>
                                                        {{else}}
                                                            <td><span class="btn-floating orange" style="cursor: default !important;"><i class="large material-icons">schedule</i></span></td>
                                                        {{/if}}
                                                    {{/if}}
                                                    <td>
                                                        <a href="/cv/view/{{this.user_id}}" class="btn btn-floating waves-effect waves-light light-blue lighten-4" id="{{this.user_id}}"><i class="material-icons">info_outline</i></a>
                                                    </td>
                                                    {{#if isRejected this.user_id}}
                                                        <td><button value="{{this.user_id}}" class="btn-floating red remove-request"><i class="large material-icons">not_interested</i></button></td>
                                                    {{else}}
                                                        <td><button value="{{this.user_id}}" class="btn-floating red remove-request disabled"><i class="large material-icons">not_interested</i></button></td>
                                                    {{/if}}
                                                </tr>
                                            {{/each}}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{else}}
        <!--{{>loading}}-->
    {{/if}}
</template>