<template name="infoButton">
    <td>
        <a href="#resultModal" class="btn btn-floating btn-large green user-info-button modal-trigger" id="{{user_id}}"><i class="large material-icons">info_outline</i></a>
    </td>
</template>