<template name="companyCategoryIndex">
    <!--{{#if subsReady}}-->
    <div id="companyListSection" class="section no-pad-bot">
        <div class="row no-margin-bot">
            <div class="col m10 l10">
                <div class="row">
                    <div class="col m12 l12 orange accent-2 white-text white z-depth-2">
                        <h4>{{categoryName}}</h4>
                    </div>
                </div>
                <div class="col m12 l12">
                    <div class="row">
                        <div class="col m12 l12 no-pad info-block">
                            {{#each companies}}
                                <div class="col m4 l4">
                                    <div class="card z-depth-2" style="height: 300px">
                                        {{#if (this.logo)}}
                                            <div class="card-image waves-effect waves-block waves-light">
                                                <img class="activator" src="{{getLogo this.logo}}" style="max-height: 155px; min-width:100%; padding: 30px">
                                            </div>
                                        {{/if}}
                                        <div class="card-content">
                                            <span class="card-title activator grey-text text-darken-4">{{this.company_name}}<i class="material-icons right">more_vert</i></span>
                                            <p><a href="/company/view/{{this.user_id}}">Įmonės profilis</a></p>
                                        </div>
                                        <div class="card-reveal">
                                            <span class="card-title grey-text text-darken-4">{{this.company_name}}<i class="material-icons right">close</i></span>
                                            <p>{{this.short_description}}</p>
                                            <p><a href="/company/view/{{this.user_id}}">Įmonės profilis</a></p>
                                        </div>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--{{else}}-->
        <!--{{>loading}}-->
    <!--{{/if}}-->
</template>