<template name="candidatesLink">
    <li><a id="drop2act" class="dropdown-button" href="#!" data-activates="dropdown2">Kandidatai<i class="side-icon material-icons right">arrow_drop_down</i></a></li>
</template>

<template name="companyProfileLink">
    <li><a id="drop1act" class="dropdown-button" href="#!" data-activates="dropdown1"><i class="side-icon material-icons left">business</i></a></li>
</template>

<template name="defaultLayout">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <header style="padding-left: 240px">
        <!--{{#unless isInIndex}}-->
            <!--{{#if isInPreview}}-->
                <!--{{>profileViewHeader}}-->
            <!--{{else}}-->
                <!--{{#if isInCompanyPreview}}-->
                    <!--{{>companyViewHeader}}-->
                <!--{{else}}-->
                    <!--{{>defaultHeader pageName=(pageName)}}-->
                <!--{{/if}}-->
            <!--{{/if}}-->
        <!--{{/unless}}-->
        <ul id="nav-mobile" class="side-nav fixed light-blue lighten-4">
            <li class="logo"><img src="/images/logo1.png" alt="Ivėjas" style="max-width: 200px"></li>
            {{#unless isLoggedIn}}
                <li class=""><a href="/" class=""><i class="side-icon material-icons left">home</i>Pagrindinis</a></li>
                <li class=""><a href="/login" class=""><i class="side-icon material-icons left">perm_identity</i>Prisijungti</a></li>
                <li class=""><a class="" href="/signUp"><i class="side-icon material-icons left">add</i>Registruotis</a></li>
                <li class=""><a class="" href="/signUp"><i class="side-icon material-icons left">account_balance</i>Įmonėms</a></li>
                <li class=""><a class="" href="/signUp"><i class="side-icon material-icons left">accessibility</i>Vartotojams</a></li>
            {{else}}
                {{#if isAdmin}}
                    <li><a class="btn-flat" href="{{pathFor 'adminIndex'}}">Admin Index</a></li>
                {{else}}
                    {{#unless isCompany}}
                        {{#unless cvExists}}
                            {{#if isInCvAdd}}
                                <li class="active"><a href="/cv/add" class=""><i class="side-icon material-icons left">mode_edit</i>Sukurti profilį</a></li>
                            {{else}}
                                <li><a href="/cv/add" class=""><i class="side-icon material-icons left">mode_edit</i>Sukurti profilį</a></li>
                            {{/if}}
                        {{else}}
                            <li>Hello</li>
                            {{#if isInDashboard}}
                                <li class="active"><a href="/user/dashboard" class=""><i class="side-icon material-icons left">home</i>Vartotojo statistika</a></li>
                            {{else}}
                                <li><a href="/user/dashboard"><i class="side-icon material-icons left">home</i>Vartotojo statistika</a></li>
                            {{/if}}
                            {{#if isInRequests}}
                                <li class="active"><a href="/user/requests" class=""><i class="side-icon material-icons left">comment</i>Užklausos</a></li>
                            {{else}}
                                <li><a href="/user/requests"><i class="side-icon material-icons left">comment</i>Užklausos</a></li>
                            {{/if}}
                            {{#if isInCompanyList}}
                                <li class="active"><a href="/company/index"><i class="side-icon material-icons left">domain</i>Įmonių sąrašas</a></li>
                            {{else}}
                                <li><a href="/company/index"><i class="side-icon material-icons left">domain</i>Įmonių sąrašas</a></li>
                            {{/if}}
                            {{#if isInPreview}}
                                <li class="active"><a href="/cv/view/{{userId}}"><i class="side-icon material-icons left">tag_faces</i>Peržiūrėti profilį</a></li>
                            {{else}}
                                <li><a href="/cv/view/{{userId}}"><i class="side-icon material-icons left">tag_faces</i>Peržiūrėti profilį</a></li>
                            {{/if}}
                            {{#if isInEdit}}
                                <li class="active"><a href="/cv/edit/{{userId}}"><i class="side-icon material-icons left">mode_edit</i>Redaguoti profilį</a></li>
                            {{else}}
                                <li><a href="/cv/edit/{{userId}}"><i class="side-icon material-icons left">mode_edit</i>Redaguoti profilį</a></li>
                            {{/if}}
                        {{/unless}}
                    {{else}}
                        {{#unless companyProfileExists}}
                            {{#if isInCompanyAdd}}
                                <li class="active"><a href="/company/add"><i class="side-icon material-icons left">mode_edit</i>Sukurti profilį</a></li>
                            {{else}}
                                <li><a href="/company/add"><i class="side-icon material-icons left">mode_edit</i>Sukurti profilį</a></li>
                            {{/if}}
                        {{else}}
                            {{#if isInDashboard}}
                                <li class="active"><a href="/company/dashboard"><i class="side-icon material-icons left">home</i>Įmonės statistika</a></li>
                            {{else}}
                                <li><a href="/company/dashboard"><i class="side-icon material-icons left">home</i>Įmonės statistika</a></li>
                            {{/if}}
                            {{#if isInSearch}}
                                <li class="active"><a href="/search"><i class="side-icon material-icons left">search</i>Vartotojų paieška</a></li>
                            {{else}}
                                <li><a href="/search"><i class="side-icon material-icons left">search</i>Vartotojų paieška</a></li>
                            {{/if}}
                            {{#if isInCompanyList}}
                                <li class="active"><a href="/company/index"><i class="side-icon material-icons left">domain</i>Įmonių sąrašas</a></li>
                            {{else}}
                                <li><a href="/company/index"><i class="side-icon material-icons left">domain</i>Įmonių sąrašas</a></li>
                            {{/if}}
                            {{#if isInTickets}}
                                <li class="active"><a href="/tickets"><i class="side-icon material-icons left">grade</i>Bilietai <span class="badge">{{ticketCount}}</span></a></li>
                            {{else}}
                                <li><a href="/tickets"><i class="side-icon material-icons left">grade</i>Bilietai <span class="badge">{{ticketCount}}</span></a></li>
                            {{/if}}
                            <!--<li style="border-right:1px solid #16222c; height:38px; margin-top: 15px"></li>-->
                            {{#if isInBookmarks}}
                                <li class="active"><a href="/bookmarks"><i class="side-icon material-icons left">bookmark_border</i>Išaugoti vartotojai <span class="badge">{{bookmarkCount}}</span></a></li>
                            {{else}}
                                <li><a href="/bookmarks"><i class="side-icon material-icons left">bookmark_border</i>Išaugoti vartotojai <span class="badge">{{bookmarkCount}}</span></a></li>
                            {{/if}}
                            {{#if isInRequests}}
                                <li class="active"><a href="/requests"><i class="side-icon material-icons left">comment</i>Atliktos užklausos <span class="badge">{{requestCount}}</span></a></li>
                            {{else}}
                                <li><a href="/requests"><i class="side-icon material-icons left">comment</i>Atliktos užklausos <span class="badge">{{requestCount}}</span></a></li>
                            {{/if}}
                            <!--<li style="border-right:1px solid #16222c; height:38px; margin-top: 15px"></li>-->
                            {{#if isInCompanyPreview}}
                                <li class="active"><a href="/company/view/{{userId}}"><i class="side-icon material-icons left">business</i>Peržiūrėti profilį</a></li>
                            {{else}}
                                <li><a href="/company/view/{{userId}}"><i class="side-icon material-icons left">business</i>Peržiūrėti profilį</a></li>
                            {{/if}}
                            {{#if isInEdit}}
                                <li class="active"><a href="/company/edit/{{userId}}"><i class="side-icon material-icons left">mode_edit</i>Redaguoti profilį</a></li>
                            {{else}}
                                <li><a href="/company/edit/{{userId}}"><i class="side-icon material-icons left">mode_edit</i>Redaguoti profilį</a></li>
                            {{/if}}
                            <!--{{>companyProfileLink}}-->
                            <!--{{>candidatesLink}}-->
                        {{/unless}}
                    {{/unless}}
                {{/if}}
                <li class="red"><a href="#" id="signOut"><i class="side-icon material-icons left">power_settings_new</i>Atsijungti</a></li>
            {{/unless}}
            <div class="" style="bottom: 0">
                <!--<img src="/images/env3.png">-->
            </div>
        </ul>
</header>
<main style="padding-left:240px; min-height:100vh;" class="light-blue lighten-4">
    {{#momentum plugin='flow-router'}}
        {{>Template.dynamic template=content}}
    {{/momentum}}
</main>
<footer style="padding-left: 240px" class="page-footer light-blue lighten-4">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="cyan-text text-lighten-5">Kristis programyja</h5>
                <p class="cyan-text text-lighten-5">Tekstas apie ką nors</p>


            </div>
            <div class="col l3 s12">
                <h5 class="cyan-text text-lighten-5">Nuorodos</h5>
                <ul>
                    <li><a class="" href="#!">Link 1</a></li>
                    <li><a class="" href="#!">Link 2</a></li>
                    <li><a class="" href="#!">Link 3</a></li>
                    <li><a class="" href="#!">Link 4</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="cyan-text text-lighten-5">Linkai</h5>
                <ul>
                    <li><a class="" href="#!">Link 1</a></li>
                    <li><a class="" href="#!">Link 2</a></li>
                    <li><a class="" href="#!">Link 3</a></li>
                    <li><a class="" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Sukūrė <a class="brown-text text-lighten-3" href="https://ivejas.lt">Ivėjas</a>
        </div>
    </div>
</footer>
</template>