/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

.img-fileUpload-thumbnail {
    max-height: 200px;
}
p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.hidden {
    visibility: hidden;
}

.container {
    width: 90%;
}

.top-nav {
    height: 130px;
}

.logo {
    margin-top: 20px;
    margin-bottom: 20px;
}

.side-icon {
    margin-top: 18px;
}

.loading-message {
    color: #fff;
    font-size: 25px;
    font-weight: 300;
    font-family: sans-serif;
}

.header-title {
    margin: 0;
    padding-top: 35px
}

.header-icon {
    padding-right: 15px
}


.header-info {
}

.side-nav a {
    line-height: 50px;
    height: 50px;
}

.overlay {
    width:100%;
    height: 100%;
    z-index:999;
    background-color: white;
    top:0;
    position:fixed;
    opacity: 0.9;
    margin-top: 0;
}

.overlay-content {
    height: 100%;
    overflow: scroll;
}

.background-content{
    height: 100%;
    overflow: auto;
}

.overlay-modal{
    display: none;
    left: 0px;
    /*top: 0px !important;*/
    max-width:60%;
    width:100%;
    /*max-height:100%;*/
    /*height:100% !important;*/

}
.tooltip{
    position: absolute;
    display: inline-block;
    opacity: 0;
    min-width: 5em;
    padding: .5em;
    background: #F4C63D;
    color: #453D3F;
    font-family: Oxygen,Helvetica,Arial,sans-serif;
    font-weight: 700;
    text-align: center;
    pointer-events: none;
    z-index: 1;
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}
.tooltip:before{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -15px;
    border: 15px solid transparent;
    border-top-color: #F4C63D;
}

/** FIXES for error messages https://github.com/Dogfalo/materialize/issues/1562*/
label {
    width: 100%;
}
.input-field label {
    font-size: 0.8rem;
    -webkit-transform: translateY(-140%);
    -moz-transform: translateY(-140%);
    -ms-transform: translateY(-140%);
    -o-transform: translateY(-140%);
    transform: translateY(-140%);
}

.info-block:first-child {
    padding:0 !important;
}

.info-block .title {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 36px;
    margin-bottom: 10px
}

.no-margin-bot {
    margin-bottom:0px;
}

.bordered {
    border-radius: 20px;
}

html,body {
    height:100%;
}

.top-bot-pad {
    padding-top:10px !important;
    padding-bottom:10px !important;
}



