<template name="basicInfo">
    <div id="personal_info" class="section scrollspy">
        <h4><i class="material-icons header-icon">perm_identity</i>Apie mane</h4>
        <div class="section row">
            <div class="col m8 l8">
                <div class="col m6 l6">
                    <div class="input-field" data-required="true">
                        <input type="text" name="first_name" id="first_name" class="{{#if afFieldIsInvalid name="first_name"}}invalid{{else}}valid{{/if}}"
                               required="" data-schema-key="first_name" value="{{getFirstName post}}">
                        <label class="active" for="first_name" data-error="{{afFieldMessage name="first_name"}}">Vardas</label>
                    </div>
                </div>
                <div class="col m6 l6 input-field">
                    <input type="text" name="last_name" id="last_name" class="{{#if afFieldIsInvalid name="last_name"}}invalid{{else}}valid{{/if}}"
                           required="" data-schema-key="last_name" value="{{post.last_name}}">
                    <label class="active" for="last_name" data-error="{{afFieldMessage name="last_name"}}">Pavardė</label>
                </div>
                <div class="col m6 l6 input-field">
                    <input type="number" name="age" id="age" class="{{#if afFieldIsInvalid name="age"}}invalid{{else}}valid{{/if}}"
                           required="" data-schema-key="age" value="{{post.age}}">
                    <label class="active" for="age" data-error="{{afFieldMessage name="age"}}">Amžius</label>
                </div>
                <div class="col m6 m6">
                    <div class="col m3 l3" style="margin-top: 23px">
                        (+370)
                    </div>
                    <div class="input-field col m9 l9">
                        <input type="number" name="phone" id="phone" class="{{#if afFieldIsInvalid name="phone"}}invalid{{else}}valid{{/if}}"
                               required="" data-schema-key="phone" value="{{post.phone}}">
                        <label class="active" for="phone" data-error="{{afFieldMessage name="phone"}}">Telefono numeris</label>
                    </div>
                </div>
            </div>
            <div class="col m4 input-field">
                {{> afFieldInput name="picture"}}
            </div>
            <div class="input-field col m12">
                                <textarea length="450" name="short_description" id="short_description" class="materialize-textarea {{#if afFieldIsInvalid name="short_description"}}invalid{{/if}}"
                                          required="" data-schema-key="short_description" value="{{post.short_description}}"></textarea>
                <label class="active" for="short_description" data-error="{{afFieldMessage name="short_description"}}">Darbo aprašymas</label>
            </div>
        </div>
    </div>
</template>