<template name="cvViewScrollspy">
    <div class="col m2">
        <ul class="section table-of-contents" style="position:fixed">
            <li><a href="#stats">Pradžia</a></li>
            <li><a href="#skills-languages">Įgūdžiai/Kalbos</a></li>
            <li><a href="#education-work">Išsilavinimas/Patirtis</a></li>
            <li><a href="#recommendations">Rekomendacijos</a></li>
            <li><a href="#statistics">Statistika</a></li>
        </ul>
    </div>
</template>