<template name="cvView">
        <div class="row no-margin-bot">
            <div class="col {{#unless fromSearch}}m10 l10{{else}}m12 l12{{/unless}}">
                {{#with post}}
                    <div id="header" class="section scrollspy">
                        <div class="row no-margin-bot">
                            <div class="z-depth-2 col m12 l12 orange accent-2 white-text top-bot-pad">
                                {{#if isApproved}}
                                    <div class="row no-margin-bot">
                                        <div class="col m8">
                                            <h4 style="margin-top:40px">{{this.first_name}} {{this.last_name}}</h4>
                                         </div>
                                        <div class="col m4">
                                            <h6><i class="material-icons header-icon">person_outline</i> 23m.</h6>
                                            <h6><i class="material-icons header-icon">email</i> k.sendrauskas@gmail.com</h6>
                                            <h6><i class="material-icons header-icon">local_phone</i> 8 62074492</h6>
                                        </div>
                                    </div>
                                {{else}}
                                    <h4>Vartotojas {{this.user_id}}</h4>
                                {{/if}}
                            </div>
                        </div>
                    </div>

                    <div id="stats" class="section scrollspy">
                        <div class="row no-margin-bot">
                            <div class="col m12 l12">
                                <div class="row no-margin-bot">
                                    <div class="col m12 l12">
                                        <div class="row no-margin-bot">
                                            <div class="col m12 l12 white z-depth-2 top-bot-pad">
                                                <div class="col m8 l8">
                                                    <p>
                                                        {{this.short_description}}
                                                    </p>
                                                </div>
                                                <div class="col m4 l4">
                                                    {{#if isApproved this.user_id}}
                                                        <img class="right" style="padding:5px; max-width: 250px; max-height: 200px" src="{{getImage this.picture}}">
                                                    {{else}}
                                                        <img class="right" src="/images/generic-profile-pic.png">
                                                    {{/if}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="skills-languages" class="section scrollspy">
                        <div class="row no-margin-bot">
                            <div class="col m6 l6">
                                <div class="row">
                                    <div class="z-depth-2 col m12 l12 orange accent-2 white-text scrollspy" id="skills">
                                        <h4><i class="material-icons header-icon">settings</i>Įgūdžiai</h4>
                                    </div>
                                </div>
                                <div class="row no-margin-bot">
                                    <div class="col m12 l12">
                                        <div class="row no-margin-bot">
                                            <div class="col m12 l12 z-depth-2 white top-bot-pad">
                                                {{#each this.skills}}
                                                    {{>skillsChart index=@index}}
                                                {{/each}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col m6 l6">
                                <div class="row">
                                    <div class="z-depth-2 col m12 l12 orange accent-2 white-text scrollspy" id="languages">
                                        <h4><i class="material-icons header-icon">translate</i>Kalbos</h4>
                                    </div>
                                </div>
                                <div class="row no-margin-bot">
                                    <div class="col m12 l12">
                                        <div class="row no-margin-bot">
                                            <div class="col m12 l12 z-depth-2 white top-bot-pad">
                                                {{#each this.languages}}
                                                    {{>languagesChart index=@index}}
                                                {{/each}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="education-work" class="section scrollspy">
                        <div class="row no-margin-bot">
                            <div class="col m6 l6">
                                <div class="row">
                                    <div class="z-depth-2 col m12 l12 orange accent-2 white-text scrollspy" id="education">
                                        <h4><i class="material-icons header-icon">school</i>Išsilavinimas</h4>
                                    </div>
                                </div>
                                {{#each this.education}}
                                    <div class="row">
                                        <div class="col m12 l12">
                                            <div class="row no-margin-bot">
                                                <div class="col m12 l12 z-depth-2 white top-bot-pad">
                                                    <div class="col m12 l12">
                                                        <h5>{{getDegree this.degree_type}}</h5>
                                                        Mokslų pavadinimas: <b>{{this.degree_name}}</b><br>
                                                        {{#if isApproved ../user_id}}
                                                            Mokymo įstaiga: <b>{{this.institution_name}}</b><br>
                                                        {{/if}}
                                                        {{this.start_time_year}} / {{this.end_time_year}}<br>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {{/each}}
                            </div>
                            <div class="col m6 l6">
                                <div class="row">
                                    <div class="z-depth-2 col m12 l12 orange accent-2 white-text scrollspy" id="experience">
                                        <h4><i class="material-icons header-icon">work</i>Patirtis</h4>
                                    </div>
                                </div>
                                {{#if isPastWork this}}
                                    {{#each this.past_work}}
                                        <div class="row">
                                            <div class="col m12 l12">
                                                <div class="row no-margin-bot">
                                                    <div class="col m12 l12 z-depth-2 white top-bot-pad">
                                                        <div class="col m12 l12">
                                                            <h5>{{this.work_title}}</h5>
                                                            Veiklos sritis: <b>{{getCategory this.work_area}}</b><br>
                                                            {{#if isApproved ../user_id}}
                                                                Įmonės pavadinimas: <b>{{this.workplace_name}}</b><br>
                                                                Įmonės svetainė: <a href="{{this.workplace_website}}">{{this.workplace_website}}</a><br>
                                                            {{/if}}
                                                            Darbo pradžia: {{this.start_time_year}}/{{this.start_time_month}}<br>
                                                            {{#if isApproved ../user_id}}
                                                                Darbo pabaiga:
                                                                {{#unless stillWork this.end_time_year}}
                                                                    {{this.end_time_year}}/{{this.end_time_month}}<br>
                                                                {{else}}
                                                                    Vis dar dirba<br>
                                                                {{/unless}}
                                                            {{/if}}
                                                            {{this.work_description}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {{/each}}
                                {{/if}}
                            </div>
                        </div>
                    </div>
                    {{#if isApproved this.user_id}}
                    {{#if isRecommendation this}}
                    <div id="recommendations" class="section scrollspy">
                        <div class="row no-margin-bot">
                            <div class="col m12 l12">
                                <div class="row">
                                    <div class="z-depth-2 col m12 l12 orange accent-2 white-text scrollspy" id="education">
                                        <h4><i class="material-icons header-icon">thumb_up</i>Rekomendacijos</h4>
                                    </div>
                                </div>
                                <div class="row no-margin-bot">
                                    {{#each this.recommendations}}
                                        <div class="col m4 l4">
                                            <div class="row no-margin-bot">
                                                <div class="col m12 l12 white z-depth-2 top-bot-pad">
                                                    <div class="col m12">
                                                        <h5>{{this.company}}</h5>
                                                        Atstovo vardas: <b>{{this.name}}</b><br>
                                                        Pareigos: <b>{{this.role}}</b><br>
                                                        El.paštas: <a href="mailto:{{this.email}}">{{this.email}}</a><br>
                                                        Telefono numeris: <b>{{this.phone}}</b>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                    {{/if}}
                    <div id="statistics" class="section scrollspy">
                        <div class="row no-margin-bot">
                            <div class="col m12 l12">
                                <div class="row">
                                    <div class="z-depth-2 col m12 l12 orange accent-2 white-text scrollspy" id="education">
                                        <h4><i class="material-icons header-icon">trending_up</i>Statistika</h4>
                                    </div>
                                </div>
                                <div class="row no-margin-bot">
                                    <div class="col m12 l12">
                                        <div class="row no-margin-bot">
                                            <div class="col m12 l12 white z-depth-2 top-bot-pad">
                                                <div class="col m6 l6 center">
                                                    Paskyra sukurta: {{getRegistered this}}
                                                </div>
                                                <div class="col m6 l6 center">
                                                    Paskyra atnaujinta: {{getEdited this}}
                                                </div>
                                                <div class="col m6 l6 center">
                                                    Peržiūrų skaičius: {{getViews this}}
                                                </div>
                                                <div class="col m6 l6 center">
                                                    Įmonės išsaugojo: {{getBookmarks this}}
                                                </div>
                                                <div class="col m6 l6 center">
                                                    Įmonės susisiekė: {{getRequests this}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/with}}
            </div>
            {{#unless fromSearch}}
                {{>cvViewScrollspy}}
            {{/unless}}
        </div>

</template>