<template name="languagesElement">
    <div id="lang{{count}}">
        <div class="col m4">
            <div class="row">
                <div class="col m12 l12 white info-block z-depth-2 top-bot-pad">
                    <div class="input-field col m12 l12">
                        <label>Kalba</label>
                        {{>afFieldInput name=(getLanguage count) type="select" id=(getLanguage count) class="validate" firstOption=false}}
                    </div>
                    <div class="input-field col m12 l12">
                        <label>Kalbėjimas</label>
                        {{>afFieldInput name=(getSpeaking count) type="select" id=(getSpeaking count) class="validate" firstOption=false}}
                    </div>
                    <div class="input-field col m12 l12">
                        <label>Klausymas</label>
                        {{>afFieldInput name=(getListening count) type="select" id=(getListening count) class="validate" firstOption=false}}
                    </div>
                    <div class="input-field col m12 l12">
                        <label>Rašymas</label>
                        {{>afFieldInput name=(getWriting count) type="select" id=(getWriting count) class="validate" firstOption=false}}
                    </div>
                    <div class="input-field col m12 l12">
                        <label>Skaitymas</label>
                        {{>afFieldInput name=(getReading count) type="select" id=(getReading count) class="validate" firstOption=false}}
                    </div>
                    <button type="button" class="col m12 l12 btn red center removeLanguage" id="removeLanguage_{{count}}">Pašalinti<i class="material-icons right">clear</i></button>
                </div>
            </div>
        </div>
    </div>
</template>