<template name="signup">
    <form id="signUpForm">
        <div class="section">
            <div class="row no-margin-bot">
                <div class="col m6 offset-m3 l6 offset-l3 s12">
                    <div class="row">
                        <div class="col m12 l12 orange accent-2 white-text white z-depth-2">
                            <h4>Registracija</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 l12 m12">
                            <div class="row">
                                <div class="col s12 m12 l12 white z-depth-2" style="padding-top:20px">
                                    <div class="row">
                                        <div class="input-field col m12 l12">
                                            <input oninvalid="setCustomValidity('Teisingas el.paštas privalo būti įvestas')" onchange="try{setCustomValidity('')}catch(e){}" required class="validate" aria-required="true" data-error="El.paštas yra privalomas" type="email" id="email" name="email" autocapitalize="none" autocorrect="off">
                                            <label for="email" class="">El. paštas</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col m12 s12">
                                            <input oninvalid="setCustomValidity('Įveskite slaptažodį')" onchange="try{setCustomValidity('')}catch(e){}" required class="validate" type="password" id="password" name="password" autocapitalize="none" autocorrect="off">
                                            <label for="password">Slaptažodis</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col m12 s12">
                                            <select name="accountType" id="accountType">
                                                <option value="" disabled selected>Pasirinkite vartotojo tipą</option>
                                                <option value="1">Ieškantis darbo</option>
                                                <option value="2">Įmonė</option>
                                            </select>
                                            <label for="accountType">Vartotojo tipas</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                    <button type="submit" class="col m12 l12 z-depth-2 waves-effect waves-light btn orange accent-3" id="at-btn">Registruotis</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</template>