<template name="companyDashboard">
    <div class="row no-margin-bot">
        <div class="col m10">
            <div class="section scrollspy" id="main">
                <div class="col m12 l12">
                    <div class="row">
                        <div class="col m12 l12 orange accent-2 white-text white z-depth-2">
                            <h4><i class="material-icons header-icon">info_outline</i>Bendroji statistika</h4>
                        </div>
                    </div>
                    <div class="row no-margin-bot">
                        <div class="col m12 l12">
                            <div class="row center ">
                                <div class="col m12 l12 white z-depth-2" style="padding: 10px">
                                    <div class="col m6 l6">
                                        Prisijungusių įmonių: {{getCompanyCount}}<br>
                                        Prisijungusių įmonių per 7d: {{getCompanyCount7d}}<br>
                                        Prisijungusių vartotojų: {{getProfileCount}}<br>
                                        Prisijungusių vartotojų per 7d: {{getProfileCount7d}}<br>
                                    </div>
                                    <div class="col m6 l6">
                                        Išsaugota vartotojų: {{getBookmarkCount}}<br>
                                        Patvirtintos užklausos: {{getApprovedRequests}}<br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="user" class="section scrollspy">
                <div class="col m12 l12">
                    <div class="row">
                        <div class="col m12 l12 orange accent-2 white-text white z-depth-2">
                            <h4><i class="material-icons header-icon">perm_identity</i>Vartotojų statistika</h4>
                        </div>
                    </div>
                    <div class="row no-margin-bot">
                        <div class="col m12 l12">
                            <div class="row">
                                <div class="col m12 l12 white z-depth-2" style="padding:10px">
                                    <div class="col m4 s6">
                                        <h5>Įmonės</h5>
                                        {{>companyPieChartComp}}
                                    </div>
                                    <div class="col m4 s6">
                                        <h5>Vartotojai</h5>
                                        {{>profilePieChartComp}}
                                    </div>
                                    <div class="col m4 s6">
                                        <h5>Paieškos</h5>
                                        {{>searchesPieChartComp}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="col m2">-->
            <!--<ul class="section table-of-contents" style="position:fixed">-->
                <!--<li><a href="#main">Bendroji statistika</a></li>-->
                <!--<li><a href="#user">Vartotojų statistika</a></li>-->
            <!--</ul>-->
        <!--</div>-->
    </div>
    <div id="skillModal" class="modal modal-fixed-footer">
        <div class="modal-content">
            <input id="skillName" type="text">
            <label for="skillName">Įgūdis</label>
            <select id="exp">
                <option value="0">Pagrindai</option>
                <option value="1">iki 1m.</option>
                <option value="2">1-2m.</option>
                <option value="3">3-4m.</option>
                <option value="4">4m. ir daugiau</option>
            </select>
            <label for="exp">Patirtis</label>
        </div>
        <div class="modal-footer">
            <button type="button" id='skillSubmit' class="btn">
                Pridėti
            </button>
        </div>
    </div>

    <div id="cityModal" class="modal modal-fixed-footer">
        <div class="modal-content">
            <input id="city" type="text" class="validate">
            <label for="city">Miestas</label>
            <input id="salary_from" type="text" class="validate">
            <label for="salary_from">Minimali norima alga</label>
        </div>
        <div class="modal-footer">
            <button type="button" id='citySubmit' class="btn">
                Pridėti
            </button>
        </div>
    </div>
</template>