<template name="adminIndex">
<div class="section no-pad-bot">
    <div class="container">
        <div class="row m10">
            <ul class="collection">
                <li class="collection-header"><h4>Vartotojai</h4></li>
            {{#each users}}
                <li class="collection-item">
                    <table>
                        <tbody>
                            <th>{{this._id}}</th>
                            <th>{{this.emails.[0].address}}</th>
                            {{#if isProfile this._id}}
                                <th><a class="waves-effect waves-light btn red" href="/cv/edit/{{this._id}}">Stuff</a></th>
                            {{else}}
                                <th> </th>
                            {{/if}}
                            {{#if profileEnabled this._id}}
                                <th><span class="new badge"></span></th>
                            {{/if}}
                        </tbody>
                    </table>

                </li>
            {{/each}}
            </ul>
        </div>
        <div class="row m10">
            <ul class="collection">
                <li class="collection-header"><h4>Įmonės</h4></li>
                {{#each companies}}
                    <li class="collection-item">
                        <table>
                            <tbody>
                            <th>{{this._id}}</th>
                            <th>{{this.emails.[0].address}}</th>
                            {{#if isCompanyProfile this._id}}
                                <th><a class="waves-effect waves-light btn red" href="/company/edit/{{this._id}}">Stuff</a></th>
                            {{else}}
                                <th> </th>
                            {{/if}}
                            {{#if companyProfileEnabled this._id}}
                                <th><span class="new badge"></span></th>
                            {{/if}}
                            </tbody>
                        </table>

                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>
</template>