<template name="cvEditScrollspy">
    <ul class="section table-of-contents" style="position:fixed">
        <li><a href="#personal_info">Apie mane</a></li>
        <li><a href="#work_areas">Veiklos sritys</a></li>
        <li><a href="#work_search">Miestai</a></li>
        <li><a href="#past_work">Darbo patirtis</a></li>
        <li><a href="#education">Išsilavinimas</a></li>
        <li><a href="#languages">Kalbos</a></li>
        <li><a href="#skills">Įgūdžiai</a></li>
        <li><a href="#recommendations">Rekomendacijos</a></li>
        <li class="center"><button type="submit" class="register btn orange accent-3">Išsaugoti</button></li>
    </ul>
</template>