<template name="cvEdit">
    {{#if subsReady}}
    {{#autoForm collection="Profiles" id="updateProfileForm" type="update" doc=post class="required" validation="keyup"}}
        <div class="row no-margin-bot">
        <div class="col m10">
            <div id="personal_info" class="section scrollspy">
                <div class="row">
                    <div class="col m12 l12 orange accent-2 white-text white z-depth-2">
                        <h4><i class="material-icons header-icon">perm_identity</i>Apie mane</h4>
                    </div>
                </div>
                <div class="row no-margin-bot">
                    <div class="col m12 l12">
                        <div class="row" no-margin-bot>
                            <div class="col m12 l12 white z-depth-2 top-bot-pad">
                                <div class="col m8 l8">
                                    <div class="row no-margin-bot">
                                        <div class="col m6 l6">
                                            <div class="input-field" data-required="true">
                                                <input type="text" name="first_name" id="first_name" class="{{#if afFieldIsInvalid name="first_name"}}invalid{{else}}{{/if}}"
                                                       required="" data-schema-key="first_name" value="{{post.first_name}}">
                                                <label class="active" for="first_name" data-error="{{afFieldMessage name="first_name"}}">Vardas</label>
                                            </div>
                                        </div>
                                        <div class="col m6 l6 input-field">
                                            <input type="text" name="last_name" id="last_name" class="{{#if afFieldIsInvalid name="last_name"}}invalid{{else}}{{/if}}"
                                                   required="" data-schema-key="last_name" value="{{post.last_name}}">
                                            <label class="active" for="last_name" data-error="{{afFieldMessage name="last_name"}}">Pavardė</label>
                                        </div>
                                    </div>
                                    <div class="row no-margin-bot">
                                        <div class="col m6 l6 input-field">
                                            <input type="number" name="age" id="age" class="{{#if afFieldIsInvalid name="age"}}invalid{{else}}{{/if}}"
                                                   required="" data-schema-key="age" value="{{post.age}}">
                                            <label class="active" for="age" data-error="{{afFieldMessage name="age"}}">Amžius</label>
                                        </div>
                                        <div class="col m6 m6">
                                            <div class="col m3 l3" style="margin-top: 23px">
                                                (+370)
                                            </div>
                                            <div class="input-field col m9 l9">
                                                <input type="number" name="phone" id="phone" class="{{#if afFieldIsInvalid name="phone"}}invalid{{else}}{{/if}}"
                                                       required="" data-schema-key="phone" value="{{post.phone}}">
                                                <label class="active" for="phone" data-error="{{afFieldMessage name="phone"}}">Telefono numeris</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col m4 input-field">
                                        {{> afFieldInput name="picture" class="orange accent-3"}}
                                </div>
                                <div class="row no-margin-bot">
                                    <div class="col m12">
                                        <div class="input-field">
                                            <textarea length="450" name="short_description" id="short_description" class="materialize-textarea {{#if afFieldIsInvalid name="short_description"}}invalid{{/if}}"
                                                      required="" data-schema-key="short_description" value="{{post.short_description}}"></textarea>
                                            <label class="active" for="short_description" data-error="{{afFieldMessage name="short_description"}}">Darbo aprašymas</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="work_areas" class="section scrollspy">
                <div class="row">
                    <div class="col m12 l12 orange accent-2 z-depth-2 white-text">
                        <h4><i class="material-icons header-icon">search</i>Domina šios veiklos sritys</h4>
                    </div>
                </div>
                <div class="row no-margin-bot">
                    {{#each areaCount}}
                        {{>workAreasElement count=@index}}
                    {{/each}}
                </div>
                <div class="row no-margin-bot">
                    <div class="col m12">
                        <button type="button" class="col m12 btn green" id="addArea">Pridėti<i class="material-icons right">add</i></button>
                    </div>
                </div>
            </div>
            <div id="work_search" class="section scrollspy">
                <div class="row">
                    <div class="col m12 l12 orange accent-2 white-text z-depth-2">
                        <h4><i class="material-icons header-icon">search</i>Noriu dirbti čia</h4>
                    </div>
                </div>
                <div class="row no-margin-bot">
                            {{#each reqCount}}
                                {{>requirementsElement count=@index}}
                            {{/each}}
                </div>
                <div class="row no-margin-bot">
                    <div class="col m12 l12">
                        <button type="button" class="col m12 l12 btn green" id="addRequirement">Pridėti<i class="material-icons right">add</i></button>
                    </div>
                </div>
            </div>
            <div id="past_work" class="section scrollspy">
                <div class="row">
                    <div class=" z-depth-2 col m12 l12 orange accent-2 white-text">
                        <h4><i class="material-icons header-icon">work</i>Mano darbo patirtis</h4>
                    </div>
                </div>
                {{#each pastWorkCount}}
                    {{>pastWorkElement count=@index post=post.past_work}}
                {{/each}}
                <div class="row no-margin-bot">
                    <div class="col m12 l12">
                        <button type="button" class="z-depth-3 col m12 l12 btn green center addPastWork">Pridėti<i class="material-icons right">add</i></button>
                    </div>
                </div>
            </div>
            <div id="education" class="section scrollspy">
                <div class="row">
                    <div class="z-depth-2 col m12 l12 orange accent-2 white-text">
                        <h4><i class="material-icons header-icon">school</i>Mano išsilavinimas</h4>
                    </div>
                </div>
                    {{#each educationCount}}
                        {{>educationElement count=@index post=post.education}}
                    {{/each}}
                <div class="row no-margin-bot">
                    <div class="col m12 l12">
                        <button type="button" class="col m12 l12 btn green center addEducation">Pridėti<i class="material-icons right">add</i></button>
                    </div>
                </div>
            </div>
            <div id="languages" class="section scrollspy">
                <div class="row">
                    <div class="z-depth-2 col m12 l12 orange accent-2 white-text">
                        <h4><i class="material-icons header-icon">translate</i>Moku šias kalbas</h4>
                    </div>
                </div>
                <div class="row no-margin-bot">
                    {{#each languageCount}}
                        {{>languagesElement count=@index}}
                    {{/each}}
                </div>
                <div class="row no-margin-bot">
                    <div class="col m12 l12">
                        <button type="button" class="col m12 l12 btn green center addLanguage">Pridėti<i class="material-icons right">add</i></button>
                    </div>
                </div>
            </div>
            <div id="skills" class="section scrollspy">
                <div class="row">
                    <div class="z-depth-2 col m12 l12 orange accent-2 white-text">
                        <h4><i class="material-icons header-icon">settings</i>Mano įgūdžiai</h4>
                    </div>
                </div>
                <div class="row no-margin-bot">
                    {{#each skillCount}}
                        {{>skillsElement count=@index}}
                    {{/each}}
                </div>
                <div class="row no-margin-bot">
                    <div class="col m12 l12">
                        <button type="button" class="col m12 l12 btn green center addSkill">Pridėti<i class="material-icons right">add</i></button>
                    </div>
                </div>
            </div>
            <div id="recommendations" class="section scrollspy">
                <div class="row">
                    <div class="col m12 l12 orange accent-2 white-text">
                        <h4><i class="material-icons header-icon">thumb_up</i>Mane rekomenduoja</h4>
                    </div>
                </div>
                <div class="row no-margin-bot">
                    {{#each recCount}}
                        {{>recommendationsElement count=@index post=post.recommendations}}
                    {{/each}}
                </div>
                <div class="row no-margin-bot">
                    <div class="col m12 l12">
                        <button type="button" class="col m12 l12 btn center addRec green">Pridėti<i class="material-icons right">add</i></button>
                    </div>
                </div>
            </div>
            <div class="row center no-margin-bot">
                <button type="submit" class="register btn btn-large orange accent-3 col m12 l12 z-depth-4">Išsaugoti pakeitimus</button>
            </div>
        </div>
        <div class="col m2">
            {{>cvEditScrollspy}}
        </div>
        </div>
    {{/autoForm}}
    {{else}}
        {{> loading }}
    {{/if}}
    <div id="skillModal" class="modal">
        <div class="modal-content">
            <div class="row">
                <form class="col s12">
                    <div class="row center">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">search</i>
                            <input id="skill_search" type="text" class="validate">
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="m12">
                    {{#each skill_search}}
                        <button type="button" class="btn btn-primary attribute-button" value="{{this}}">
                            <span class="card-title">{{this}}</span>
                        </button>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Uždaryti</a>
        </div>
    </div>
    <div id="cityModal" class="modal">
        <div class="modal-content">
            <div class="row">
                <form class="col s12">
                    <div class="row center">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">search</i>
                            <input id="city_search" type="text" class="validate">
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="m12">
                    {{#each city_search}}
                        <button type="button" class="btn btn-primary attribute-button-city" value="{{this.city}}">
                            <span class="card-title">{{this.city}}</span>
                        </button>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Uždaryti</a>
        </div>
    </div>
</template>