<template name="ticketIndex">
    {{#if subsReady}}
        <div class="row no-margin-bot">
            <div class="col m10">
                <div class="section scrollspy" id="main">
                    <div class="col m12 l12">
                        <div class="row">
                            <div class="col m12 l12 orange accent-2 white-text white z-depth-2">
                                <h4><i class="material-icons header-icon">grade</i>Pirkti Bilietai</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col m12 l12">
                                <div class="row">
                                    <div class="col m12 l12 white z-depth-2">
                                        <div class="row">
                                            <div class="col s12 m4 center">
                                                <div class="icon-block">
                                                    <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                                                    <h5 class="center">1 Bilietas</h5>

                                                    <button value="1" class="buy-button orange center btn-large">Pirkti</button>
                                                </div>
                                            </div>

                                            <div class="col s12 m4 center">
                                                <div class="icon-block">
                                                    <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                                                    <h5 class="center">3 Bilietai</h5>

                                                    <button value="3" class="buy-button orange center btn-large">Pirkti</button>
                                                </div>
                                            </div>

                                            <div class="col s12 m4 center">
                                                <div class="icon-block">
                                                    <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                                                    <h5 class="center">5 Bilietai</h5>

                                                    <button value="5" class="buy-button orange center btn-large">Pirkti</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section scrollspy" id="main">
                    <div class="col m12 l12">
                        <div class="row">
                            <div class="col m12 l12 orange accent-2 white-text white z-depth-2">
                                <h4><i class="material-icons header-icon">info_outline</i>Pirkti Bilietai</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col m12 l12">
                                <div class="row">
                                    <div class="col m12 l12 white z-depth-2">
                                        <div class="row">
                                            <table>
                                                <thead>
                                                <tr>
                                                    <th data-field="used">Panaudotas</th>
                                                    <th data-field="created">Gavimo data</th>
                                                    <th data-field="used_date">Panaudojimo data</th>
                                                    <th data-field="user_id">Kam panaudotas</th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                            {{#each tickets}}
                                                <tr>
                                                    {{#if ticketInUse this.used}}
                                                        {{#if ticketUsed this.used}}
                                                            <td class="center red"><i class="material-icons small">not_interested</i></td>
                                                        {{else}}
                                                            <td class="center orange"><i class="material-icons small">schedule</i></td>
                                                        {{/if}}
                                                    {{else}}
                                                        <td class="center green"><i class="material-icons small">done</i></td>
                                                    {{/if}}
                                                    <td>{{this.datetime_created}}</td>
                                                    <td>{{this.datetime_used}}</td>
                                                    <td><a href="/cv/view/{{this.used_on}}">{{getName this.used_on}}</a></td>
                                                </tr>
                                            {{/each}}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
</template>