<template name="requirementsElement">
    <div id="req{{count}}">
        <div class="col m6 l6">
            <div class="row">
                <div class="col m12 l12 white info-block z-depth-2 top-bot-pad" style="display: flex">
                    <div class="col m7 l6">
                        <div class="input-field">
                            {{>afFieldInput name=(getCity count) type="text" id=(getCity count) class="validate attributeCity" style="text-transform: capitalize;"}}
                            <label class="active" for="requirements.{{count}}.city">Miestas</label>
                        </div>
                    </div>
                    <div class="col m4 l4">
                        <div class="input-field">
                            {{>afFieldInput name=(getSalaryFrom count) type="text" id=(getSalaryFrom count) class="validate"}}
                            <label class="active" for="requirements.{{count}}.salary_from">Alga nuo</label>
                        </div>
                    </div>
                    <div class="col m2 l2" style="padding:0; display: flex">
                        <button style="height:inherit" type="button" class="col m12 l12 btn red center removeRequirement"  id="remove_{{count}}"><i style="margin-bottom:10px" class="material-icons">clear</i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>