<template name="afFileUpload">
    {{#unless isUploaded}}
        <div class="col s12 center-align">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
                </div>
            </div>
        </div>
    {{/unless}}
    {{#if fileUpload}}
        {{#with fileUpload}}
            {{> Template.dynamic template=template data=data}}
        {{/with}}
        <br/>
        <a class="file-upload-clear btn-flat red-text" file-input="{{name}}"><i class="mdi-action-highlight-remove"></i> Pašalinti</a>
    {{else}}
        <div class="file-field input-field">
            <!--<input class="file-path validate hidden" type="text" placeholder="{{this.atts.placeholder}}"/>-->
            <button class="btn" type="button">
                <span>Įkelti nuotrauką</span>
                <input class="btn file-upload" id="file-{{name}}" file-input="{{name}}" type="file" />
            </button>
            {{#if dropEnabled}}
                <div class="row valign">
                    <div class="col s12">
                        <div data-action="file-dropped" class="valign-wrapper {{dropClasses}}">
                            <div class="center-align valign">
                                {{{dropLabel}}}
                            </div>
                        </div>
                    </div>
                </div>
            {{/if}}
        </div>
    {{/if}}
    <!-- <div class="">{{> afQuickField name=name}}</div> -->
    <input type="text" style="display:none;" data-cfs-collection="{{this.atts.collection}}" {{fileUploadAtts}} value="{{value}}">
</template>

<template name="fileThumbIcon">
    <a class="btn btn-flat" target="_blank">
        <i class="fa fa-{{icon}}"></i> {{src}}
    </a>
</template>

<template name="fileThumbImg">
    <img src="{{src}}" alt="" class="img-fileUpload-thumbnail responsive-img" style="max-height: 140px">
</template>