<template name="workAreasElement">
    <div id="area{{count}}">
        <div class="col m6 l6">
            <div class="row">
                <div class="col m12 l12 white info-block z-depth-2 top-bot-pad" style="display: flex">
                        <div class="col m10 l10 input-field">
                            <label>Veiklos sritis</label>
                            {{>afFieldInput name=(getArea count) type=select id=(getArea count) class="validate work_areas" firstOption=false}}
                        </div>
                        <div class="col m2 l2" style="padding:0; display: flex">
                            <button style="height:inherit" type="button" class="col m12 l12 btn red center removeArea"  id="remove_{{count}}"><i style="margin-bottom:10px" class="material-icons">clear</i></button>
                        </div>
                </div>
            </div>
        </div>
    </div>
</template>