<template name="companyListIndex">
    <div id="companyListSection" class="section no-pad-bot">
        <div class="row no-margin-bot">
            <div class="col m10 l10">
                <div class="row">
                    <div class="col m12 l12 orange accent-2 white-text white z-depth-2">
                        <h4>Įmonių sąrašas</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col m12 l12">
                        <div class="row">
                            <div class="col m12 l12 no-pad white info-block z-depth-2">
                                <div class="collection">
                                    {{#each categories}}
                                        {{#if (this.count)}}
                                            <a href="/company/{{this.value}}/index" class="collection-item">{{this.label}}<span class="badge">{{this.count}}</span></a>
                                        {{else}}
                                            <a href="#" class="disabled collection-item">{{this.label}}<span class="badge">{{this.count}}</span></a>
                                        {{/if}}
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>