<template name="companyViewScrollspy">
    <ul class="section table-of-contents" style="position:fixed">
        <li><a href="#mainSection">Pagrindinė informacija</a></li>
        <li><a href="#companyInfo">Įmonės aprašymas</a></li>
        <!--{{#if picturesPresent this.pictures}}-->
            <li><a href="#pictures">Nuotraukos</a></li>
        <!--{{/if}}-->
    </ul>
</template>