<template name="companyView">
    {{#if subsReady}}
        {{#with post}}
            <div class="row no-margin-bot">
                <div class="col m10">
                    <div class="section scrollspy" id="main">
                        <div class="col m12 l12">
                            <div class="row no-margin-bot">
                                <div class="col m12 l12 orange accent-2 white-text white z-depth-2" style="padding:5px">
                                    <div class="col m8 l8 s8">
                                        <h4>{{this.company_name}}</h4>
                                    </div>
                                    <div class="col m4 l4 s8">
                                        <img src="{{getImage this.logo}}" class="right" style="max-height: 100px">
                                    </div>
                                </div>
                            </div>
                            <div id="stats" class="section">
                                <div class="row no-margin-bot">
                                    <div class="col m12 l12">
                                        <div class="row no-margin-bot">
                                            <div class="col m12 l12 z-depth-2 white" style="padding: 10px">
                                                {{this.short_description}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="skills-languages" class="section">
                        <div class="row no-margin-bot">
                            <div class="col m6 l6">
                                <div class="row">
                                    <div class="z-depth-2 col m12 l12 orange accent-2 white-text scrollspy" id="skills">
                                            <h4>Pagrindinė informacija</h4>
                                    </div>
                                </div>
                                <div class="row no-margin-bot">
                                    <div class="col m12 l12">
                                        <div class="row no-margin-bot">
                                            <div class="col m12 l12 z-depth-2 white" style="padding-top: 20px">
                                                <ul class="collection">
                                                    <li class="collection-item">Adresas: <u>{{this.address}}, {{this.city}}, {{this.country}}</u></li>
                                                    <li class="collection-item">Įsteigta: <u>{{this.established_year}}</u></li>
                                                    <li class="collection-item">Darbuotojų skaičius: <u>{{this.worker_count}}</u></li>
                                                    <li class="collection-item">Svetainė: <u><a href="{{this.website}}">{{this.website}}</a></u></li>
                                                    <li class="collection-item">Darbo sritis: <u>{{getCategory this.work_area}}</u></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col m6 l6">
                                <div class="row">
                                    <div class="z-depth-2 col m12 l12 orange accent-2 white-text scrollspy" id="languages">
                                            <h4>Mes siūlome</h4>
                                    </div>
                                </div>
                                <div class="row no-margin-bot">
                                    <div class="col m12 l12">
                                        <div class="row no-margin-bot">
                                            <div class="col m12 l12 z-depth-2 white" style="padding: 10px">
                                                <ul class="collection">
                                                {{#each this.weOffer}}
                                                    <li class="collection-item center">{{this.name}}</li>
                                                    <!--<div class="chip">-->
                                                        <!--{{this.name}}-->
                                                    <!--</div>-->
                                                {{/each}}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section scrollspy" id="main">
                        <div class="col m12 l12">
                            <div class="row">
                                <div class="col m12 l12 orange accent-2 white-text white z-depth-2">
                                    <h4><i class="material-icons header-icon">grade</i>Nuotraukos</h4>
                                </div>
                            </div>
                            <div id="stats" class="section">
                                <div class="row no-margin-bot">
                                    <div class="col m12 l12">
                                        <div class="row no-margin-bot">
                                            <div class="col m12 l12 no-pad white z-depth-2" style="padding: 10px">
                                                {{#if picturesPresent this.pictures}}
                                                    <div class="col m12">
                                                        <div class="owl-carousel">
                                                            {{#each getPictures this.pictures}}
                                                                {{>carouselItem}}
                                                            {{/each}}
                                                        </div>
                                                    </div>
                                                {{/if}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col m2">
                            {{>companyViewScrollspy}}
                        </div>
                    </div>
                </div>
            </div>
        {{/with}}
    {{else}}
        <!--{{>loading}}-->
    {{/if}}
</template>