<template name="cvDashboard">
    <div class="row no-margin-bot">
        <div class="col m10">
            <div id="main" class="section scrollspy">
                <div class="row no-margin-bot">
                    <div class="col m12 l12">
                        <div class="row">
                            <div class="z-depth-2 col m12 l12 orange accent-2 white-text scrollspy" id="skills">
                                <h4><i class="material-icons header-icon">info_outline</i>Bendroji statistika</h4>
                            </div>
                        </div>
                        <div class="row no-margin-bot">
                            <div class="col m12 l12">
                                <div class="row no-margin-bot">
                                    <div class="col m12 l12 z-depth-2 white top-bot-pad">
                                        <div class="col m4 l4">
                                            Prisijungusių įmonių: {{getCompanyCount}}<br>
                                            Prisijungusių įmonių per 7d: {{getCompanyCount7d}}<br>
                                            Prisijungusių vartotojų: {{getProfileCount}}<br>
                                            Prisijungusių vartotojų per 7d: {{getProfileCount7d}}<br>
                                        </div>
                                        <div class="col m4 l4">
                                            Išsaugota vartotojų: {{getBookmarkCount}}<br>
                                            Patvirtintos užklausos: {{getApprovedRequests}}<br>
                                        </div>
                                        <div class="col m4 l4">
                                            Mane rado: {{getSearchSuccesses}}<br>
                                            Mane peržiūrėjo: {{getViews}}<br>
                                            Mane išsisaugojo: {{getBookmarks}}<br>
                                            Mano duomenų užklausė: {{getRequests}}<br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="user" class="section scrollspy">
                <div class="row no-margin-bot">
                    <div class="col m12 l12">
                        <div class="row">
                            <div class="z-depth-2 col m12 l12 orange accent-2 white-text scrollspy" id="skills">
                                <h4><i class="material-icons header-icon">perm_identity</i>Vartotojų statistika</h4>
                            </div>
                        </div>
                        <div class="row no-margin-bot">
                            <div class="col m12 l12">
                                <div class="row no-margin-bot">
                                    <div class="col m12 l12 white z-depth-2 top-bot-pad">
                                        <div class="col m6 s6 center">
                                            <h5>Įmonės</h5>
                                            {{>companyPieChart}}
                                        </div>
                                        <div class="col m6 s6 center">
                                            <h5>Vartotojai</h5>
                                            {{>profilePieChart}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="search" class="section scrollspy">
                <div class="row no-margin-bot">
                    <div class="col m12 l12">
                        <div class="row">
                            <div class="z-depth-2 col m12 l12 orange accent-2 white-text scrollspy" id="skills">
                                <h4><i class="material-icons header-icon">search</i>Paieškų statistika</h4>
                            </div>
                        </div>
                        <div class="row no-margin-bot">
                            <div class="col m12 l12">
                                <div class="row no-margin-bot">
                                    <div class="col m12 l12 white z-depth-2 top-bot-pad">
                                        <div class="col m6 s6 center">
                                            <h5>Viso paieškų</h5>
                                            {{>searchesPieChart}}
                                        </div>
                                        <div class="col m6 s6 center">
                                            <h5>Mano paieškos</h5>
                                            {{>searchSuccessPieChart}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="views" class="section scrollspy">
                <div class="row no-margin-bot">
                    <div class="col m12 l12">
                        <div class="row">
                            <div class="z-depth-2 col m12 l12 orange accent-2 white-text scrollspy" id="skills">
                                <h4><i class="material-icons header-icon">timelapse</i>7d. profilio peržiūros</h4>
                            </div>
                        </div>
                        <div class="row no-margin-bot">
                            <div class="col m12 l12">
                                <div class="row no-margin-bot">
                                    <div class="col m12 l12 white z-depth-2 top-bot-pad">
                                        <div class="col m12 l12">
                                            <div class="row no-margin-bot">
                                                {{>viewLineChart}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="suggestions" class="section scrollspy">
                <div class="row no-margin-bot">
                    <div class="col m12 l12">
                        <div class="row">
                            <div class="z-depth-2 col m12 l12 orange accent-2 white-text scrollspy" id="skills">
                                <h4><i class="material-icons header-icon">thumb_up</i>Pasiūlymai</h4>
                            </div>
                        </div>
                        <div class="row no-margin-bot">
                            <div class="col m12 l12">
                                <div class="row no-margin-bot">
                                    <div class="col m12 l12 white z-depth-2 top-bot-pad">
                                        <div class="row center no-margin-bot">
                                            <div class="col m12 l12">
                                                <div class="col m6">
                                                    <h5>Jus ras dažniau jei mokate:</h5>
                                                    {{#if profileExists}}
                                                        {{#each popularSkills}}
                                                            <button type="button" class="btn waves-effect waves-light orange z-depth-1 skill-add" value="{{this.[0]}}">{{this.[0]}}
                                                                <i class="material-icons right">add</i>
                                                            </button>
                                                        {{/each}}
                                                    {{/if}}
                                                </div>
                                                <div class="col m6">
                                                    <h5>Jūsų ieškojo čia:</h5>
                                                    {{#if profileExists}}
                                                        {{#each citySuggestions}}
                                                            <button type="button" class="btn waves-effect waves-light orange z-depth-1 city-add" value="{{this.city}}">{{this.city}}
                                                                <i class="material-icons right">add</i>
                                                            </button>
                                                        {{/each}}
                                                    {{/if}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col m2">
            {{>cvDashboardScrollspy}}
        </div>
    </div>

    <div id="skillModal" class="modal modal-fixed-footer">
        <div class="modal-content">
            <input id="skillName" type="text">
            <label for="skillName">Įgūdis</label>
            <select id="exp">
                <option value="0">Pagrindai</option>
                <option value="1">iki 1m.</option>
                <option value="2">1-2m.</option>
                <option value="3">3-4m.</option>
                <option value="4">4m. ir daugiau</option>
            </select>
            <label for="exp">Patirtis</label>
        </div>
        <div class="modal-footer">
            <button type="button" id='skillSubmit' class="btn">
                Pridėti
            </button>
        </div>
    </div>

    <div id="cityModal" class="modal modal-fixed-footer">
        <div class="modal-content">
            <input id="city" type="text" class="validate">
            <label for="city">Miestas</label>
            <input id="salary_from" type="text" class="validate">
            <label for="salary_from">Minimali norima alga</label>
        </div>
        <div class="modal-footer">
            <button type="button" id='citySubmit' class="btn">
                Pridėti
            </button>
        </div>
    </div>
</template>