<template name="cvDashboardScrollspy">
    <ul class="section table-of-contents" style="position:fixed">
        <li><a href="#main">Bendroji statistika</a></li>
        <li><a href="#user">Vartotojų statistika</a></li>
        <li><a href="#search">Paieškų statistika</a></li>
        <li><a href="#views">Profilio peržiūros</a></li>
        <li><a href="#suggestions">Pasiūlymai</a></li>
    </ul>
</template>