<template name="companyAdd">            <!--   Icon Section   -->
    {{#if subsReady}}
    {{#autoForm collection="CompanyProfiles" id="insertCompanyProfileForm" type="insert" validation="keyup"}}
        <div class="row no-margin-bot">
            <div class="col m10">
                {{>companyBasicInfo post=post}}
                <div id="pictures" class="section scrollspy">
                    <div class="row no-margin-bot">
                        <div class="col m12 l12">
                            <div class="row">
                                <div class="z-depth-2 col m12 l12 orange accent-2 white-text scrollspy" id="skills">
                                    <h4>Nuotraukos</h4>
                                </div>
                            </div>
                            <div class="row no-margin-bot">
                                <div class="col m12 l12">
                                    <div class="row">
                                        <div class="col m12 l12 z-depth-2 white" style="padding-top: 20px">
                                            <div class="row no-margin-bot">
                                                <div class="col m12 l12">
                                                    <div class="row no-margin-bot">
                                                        {{#each picCount}}
                                                            {{>picturesElement count=@index}}
                                                        {{/each}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col m12 l12">
                                                    <button type="button" class="col m12 l12 btn green" id="addPicture">Pridėti<i class="material-icons right">add</i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section scrollspy" id="weOffer">
                    <div class="row no-margin-bot">
                        <div class="col m12 l12">
                            <div class="row">
                                <div class="z-depth-2 col m12 l12 orange accent-2 white-text scrollspy" id="skills">
                                    <h4>Mes siūlome</h4>
                                </div>
                            </div>
                            <div class="row no-margin-bot">
                                <div class="col m12 l12">
                                    <div class="row no-margin-bot">
                                        {{#each offerCount}}
                                            {{>weOfferElement count=@index}}
                                        {{/each}}
                                    </div>
                                    <div class="row no-margin-bot">
                                        <div class="col m12 l12">
                                            <button type="button" class="col m12 l12 btn green" id="addOffer">Pridėti<i class="material-icons right">add</i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row center no-margin-bot">
                    <button type="submit" class="register btn btn-large">Išsaugoti</button>
                </div>
            </div>
            <div class="col m2">
                {{>companyEditScrollspy}}
            </div>
        </div>
    {{/autoForm}}

    <div id="weOfferModal" class="modal">
        <div class="modal-content">
            <div class="row">
                <form class="col s12">
                    <div class="row center">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">search</i>
                            <input id="weOffer_search" type="text" class="validate">
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="m12">
                    {{#each weOffer_search}}
                        <button type="button" class="btn btn-primary attribute-button" value="{{this.name}}">
                            <span class="card-title">{{this.name}}</span>
                        </button>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Uždaryti</a>
        </div>
    </div>
    {{else}}
    {{/if}}
</template>