<template name="companyAddScrollspy">
    <ul class="section table-of-contents" style="position:fixed">
        <li><a href="#mainInfo">Pagrindinė informacija</a></li>
        <li><a href="#description">Įmonės aprašymas</a></li>
        <li><a href="#pictures">Nuotraukos</a></li>
        <li><a href="#weOffer">Mes siūlome</a></li>
        <li class="center">
            <button type="submit" class="waves-effect waves-light btn">
                <i class="mdi-content-send.right"></i>Išsaugoti
            </button>
        </li>
    </ul>
</template>