<template name="companyBasicInfo">
    <div class="section scrollspy" id="mainInfo">
        <div class="row no-margin-bot">
            <div class="col m12 l12">
                <div class="row">
                    <div class="z-depth-2 col m12 l12 orange accent-2 white-text scrollspy" id="skills">
                        <h4>Pagrindinė informacija</h4>
                    </div>
                </div>
                <div class="row no-margin-bot">
                    <div class="col m12 l12">
                        <div class="row no-margin-bot">
                            <div class="col m12 l12 z-depth-2 white" style="padding-top: 20px">
                                <div class="row no-margin-bot">
                                    <div class="col m6 l6 input-field">
                                        <input type="text" name="company_name" id="company_name" class="{{#if afFieldIsInvalid name="company_name"}}invalid{{/if}}"
                                               required="" data-schema-key="company_name" value="{{post.company_name}}">
                                        <label class="active" for="company_name" data-error="{{afFieldMessage name="company_name"}}">Įmonės pavadinimas</label>
                                    </div>
                                    <div class="col m6 l6 input-field">
                                        <label>Veiklos sritis</label>
                                        {{>afFieldInput name="work_area" id="work_area" type="select" class="validate" firstOption=false}}
                                    </div>
                                </div>
                                <div class="row no-margin-bot">
                                    <div class="col m4 l4 input-field">
                                        <input type="text" name="address" id="address" class="{{#if afFieldIsInvalid name="address"}}invalid{{/if}}"
                                               required="" data-schema-key="address" value="{{post.address}}">
                                        <label class="active" for="address" data-error="{{afFieldMessage name="address"}}">Adresas</label>
                                    </div>
                                    <div class="col m4 l4 input-field">
                                        <input type="text" name="city" id="city" class="{{#if afFieldIsInvalid name="city"}}invalid{{/if}}"
                                               required="" data-schema-key="city" value="{{post.city}}">
                                        <label class="active" for="city" data-error="{{afFieldMessage name="city"}}">Miestas</label>
                                    </div>
                                    <div class="col m4 l4 input-field">
                                        <label>Šalis</label>
                                        {{>afFieldInput name="country" type="select" class="validate" firstOption=false}}
                                    </div>
                                </div>
                                <div class="row no-margin-bot">
                                    <div class="col m4 l4 input-field">
                                        <input type="text" name="website" id="website" class="{{#if afFieldIsInvalid name="website"}}invalid{{/if}}"
                                               required="" data-schema-key="website" value="{{post.website}}">
                                        <label class="active" for="website" data-error="{{afFieldMessage name="website"}}">Internetinė svetainė</label>
                                    </div>
                                    <div class="col m4 l4 input-field">
                                        <input type="text" name="company_code" id="company_code" class="{{#if afFieldIsInvalid name="company_code"}}invalid{{/if}}"
                                               required="" data-schema-key="company_code" value="{{post.company_code}}">
                                        <label class="active" for="company_code" data-error="{{afFieldMessage name="company_code"}}">Įmonės kodas</label>
                                    </div>
                                    <div class="col m4 l4 input-field">
                                        <input type="text" name="vat_code" id="vat_code" class="{{#if afFieldIsInvalid name="vat_code"}}invalid{{/if}}"
                                               required="" data-schema-key="vat_code" value="{{post.vat_code}}">
                                        <label class="active" for="vat_code" data-error="{{afFieldMessage name="vat_code"}}">PVM kodas</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col m4 l4 input-field">
                                        <input type="text" name="worker_count" id="worker_count" class="{{#if afFieldIsInvalid name="worker_count"}}invalid{{/if}}"
                                               required="" data-schema-key="worker_count" value="{{post.worker_count}}">
                                        <label class="active" for="worker_count" data-error="{{afFieldMessage name="worker_count"}}">Darbuotojų skaičius</label>
                                    </div>
                                    <div class="col m4 l4 input-field">
                                        <input type="text" name="established_year" id="established_year" class="{{#if afFieldIsInvalid name="established_year"}}invalid{{/if}}"
                                               required="" data-schema-key="established_year" value="{{post.established_year}}">
                                        <label class="active" for="established_year" data-error="{{afFieldMessage name="established_year"}}">Įkurta</label>
                                    </div>
                                    <div class="col m4 l4 input-field">
                                        {{> afFieldInput name="logo"}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section scrollspy" id="description">
        <div class="row no-margin-bot">
            <div class="col m12 l12">
                <div class="row">
                    <div class="z-depth-2 col m12 l12 orange accent-2 white-text scrollspy" id="skills">
                        <h4>Įmonės aprašymas</h4>
                    </div>
                </div>
                <div class="row no-margin-bot">
                    <div class="col m12 l12">
                        <div class="row no-margin-bot">
                            <div class="col m12 l12 z-depth-2 white" style="padding-top: 20px">
                                <div class="col m12 l12 input-field">
                                    {{>afFieldInput name="short_description"}}
                                    <label class="active" for="short_description">Įmonės aprašymas</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>