<template name="picturesElement">
    <div class="col m4 l4" id="pic{{count}}" style="min-height:200px">
        <div class="input-field">
            {{>afFieldInput name=(getPicture count)}}
            <label class="active" for="pictures.{{count}}">Nuotrauka</label>
        </div>
    </div>
</template>