<template name="search">
    <div class="row no-margin-bot">
        <div class="col m10">
            <div class="section scrollspy" id="main">
                <div class="col m12 l12">
                    <div class="row">
                        <div class="col m12 l12 orange accent-2 white-text white z-depth-2">
                            <h4>Vartotojų paieška</h4>
                        </div>
                    </div>
                    <div class="row no-margin-bot">
                        <div class="col m12 l12">
                            <div class="row no-margin-bot">
                                <div class="col m12 l12 white z-depth-2" style="padding:10px">
                                    <form>
                                        <div class="row no-margin-bot">
                                            <div class="input-field col s3">
                                                <label for="city">Miestas</label>
                                                <input id="city" type="text" class="validate">
                                            </div>
                                            <div class="input-field col s3">
                                                <label for="work_area">Darbo sritis</label>
                                                <select id="work_area">
                                                    <option value="0">Pasirinkite</option>
                                                    <option value="1">Administravimas/sekretoriavimas</option>,
                                                    <option value="2">Apskaita/finansai/auditas</option>,
                                                    <option value="3">Dizainas/architektūra</option>,
                                                    <option value="4">Draudimas</option>,
                                                    <option value="5">Eksportas</option>,
                                                    <option value="6">Elektronika/telekomunikacijos</option>,
                                                    <option value="7">Energetika</option>,
                                                    <option value="8">Inžinerija/mechanika</option>,
                                                    <option value="9">Klientų aptarnavimas/paslaugos</option>,
                                                    <option value="10">Kompiuteriai/IT/internetas</option>,
                                                    <option value="11">Kultūra/kūryba</option>,
                                                    <option value="12">Logistika/transportas</option>,
                                                    <option value="13">Maisto gamyba</option>,
                                                    <option value="14">Marketingas/reklama</option>,
                                                    <option value="15">Medicina/sveikatos apsauga/farmacija</option>,
                                                    <option value="16">Nekilnojamasis turtas</option>,
                                                    <option value="17">Pardavimų vadyba</option>,
                                                    <option value="18">Personalo valdymas</option>,
                                                    <option value="19">Pirkimai/tiekimas</option>,
                                                    <option value="20">Pramonė/gamyba</option>,
                                                    <option value="21">Prekyba - konsultavimas</option>,
                                                    <option value="22">Sandėliavimas</option>,
                                                    <option value="23">Statyba</option>,
                                                    <option value="24">Švietimas/mokymai</option>,
                                                    <option value="24">Teisė</option>,
                                                    <option value="25">Turizmas/viešbučiai</option>,
                                                    <option value="26">Vadovavimas/valdymas</option>,
                                                    <option value="27">Valstybės tarnyba</option>,
                                                    <option value="28">"Žemės ūkis/žuvininkystė</option>,
                                                    <option value="29">"Žiniasklaida/viešieji ryšiai</option>
                                                </select>
                                            </div>
                                            <div class="input-field col s3">
                                                <label for="education">Reikalaujamas išsilavinimas</label>
                                                <select id="education">
                                                    <option value="9">Nesvarbu</option>,
                                                    <option value="0">Vidurinysis</option>,
                                                    <option value="1">Bakalauras</option>,
                                                    <option value="2">Magistras</option>,
                                                    <option value="3">Daktaras</option>
                                                </select>
                                            </div>
                                            <div class="input-field col s3">
                                                <div class="input-field">
                                                    <input type="checkbox" id="experience" />
                                                    <label for="experience" style="margin-top: 15px">Būtina darbo patirtis?</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row no-margin-bot">
                                            <h5 class="col s12 light center">Alga</h5>
                                            <div class="input-field col s6">
                                                <label for="min">Nuo</label>
                                                <select id="min">
                                                    <option value="0">Nesvarbu</option>
                                                    <option value="400">400</option>,
                                                    <option value="500">500</option>,
                                                    <option value="600">600</option>,
                                                    <option value="700">700</option>,
                                                    <option value="800">800</option>,
                                                    <option value="900">900</option>,
                                                    <option value="1100">1000</option>,
                                                    <option value="1100">1100</option>,
                                                    <option value="1200">1200</option>,
                                                    <option value="1300">1300</option>,
                                                    <option value="1400">1400</option>,
                                                    <option value="1500">1500</option>,
                                                    <option value="1600">1600</option>,
                                                    <option value="1700">1700</option>,
                                                    <option value="1800">1800</option>,
                                                    <option value="1900">1900</option>,
                                                    <option value="2000">2000</option>,
                                                    <option value="2100">2100</option>,
                                                    <option value="2200">2200</option>,
                                                    <option value="2300">2300</option>,
                                                    <option value="2400">2400</option>,
                                                    <option value="2500">2500</option>,
                                                    <option value="2600">2600</option>,
                                                    <option value="2700">2700</option>,
                                                    <option value="2800">2800</option>,
                                                    <option value="2900">2900</option>,
                                                    <option value="3000">3000</option>,
                                                </select>
                                            </div>
                                            <div class="input-field col s6">
                                                <label for="max">Iki</label>
                                                <select id="max">
                                                    <option value="0">Nesvarbu</option>
                                                    <option value="400">400</option>,
                                                    <option value="500">500</option>,
                                                    <option value="600">600</option>,
                                                    <option value="700">700</option>,
                                                    <option value="800">800</option>,
                                                    <option value="900">900</option>,
                                                    <option value="1100">1000</option>,
                                                    <option value="1100">1100</option>,
                                                    <option value="1200">1200</option>,
                                                    <option value="1300">1300</option>,
                                                    <option value="1400">1400</option>,
                                                    <option value="1500">1500</option>,
                                                    <option value="1600">1600</option>,
                                                    <option value="1700">1700</option>,
                                                    <option value="1800">1800</option>,
                                                    <option value="1900">1900</option>,
                                                    <option value="2000">2000</option>,
                                                    <option value="2100">2100</option>,
                                                    <option value="2200">2200</option>,
                                                    <option value="2300">2300</option>,
                                                    <option value="2400">2400</option>,
                                                    <option value="2500">2500</option>,
                                                    <option value="2600">2600</option>,
                                                    <option value="2700">2700</option>,
                                                    <option value="2800">2800</option>,
                                                    <option value="2900">2900</option>,
                                                    <option value="3000">3000</option>,
                                                </select>
                                            </div>
                                        </div>
                                        <div class="rowno-margin-bot">
                                            <h5 class="col s12 light center">Kalbos</h5>
                                            <div id="lan1" class="col s12">
                                                <div class="input-field col s2">
                                                    </div>
                                                <div class="input-field col s2">
                                                    <label for="lanName1">Kalba</label>
                                                    <select id="lanName1">
                                                        {{#each languages}}
                                                            <option value="{{this.value}}">{{this.label}}</option>,
                                                        {{/each}}
                                                    </select>
                                                </div>
                                                <div class="input-field col s2">
                                                    <label for="read1">Skaitymas</label>
                                                    <select id="read1">
                                                        <option value="0">Nesvarbu</option>,
                                                        <option value="1">Blogai</option>,
                                                        <option value="2">Blogiau nei vidutiniškai</option>,
                                                        <option value="3">Vidutiniškai</option>,
                                                        <option value="4">Geriau nei vidutiniškai</option>
                                                        <option value="5">Gerai</option>
                                                    </select>
                                                </div>
                                                <div class="input-field col s2">
                                                    <label for="writ1">Rašymas</label>
                                                    <select id="writ1">
                                                        <option value="0">Nesvarbu</option>,
                                                        <option value="1">Blogai</option>,
                                                        <option value="2">Blogiau nei vidutiniškai</option>,
                                                        <option value="3">Vidutiniškai</option>,
                                                        <option value="4">Geriau nei vidutiniškai</option>
                                                        <option value="5">Gerai</option>
                                                    </select>
                                                </div>
                                                <div class="input-field col s2">
                                                    <label for="talk1">Kalbėjimas</label>
                                                    <select id="talk1">
                                                        <option value="0">Nesvarbu</option>
                                                        <option value="1">Blogai</option>
                                                        <option value="2">Blogiau nei vidutiniškai</option>
                                                        <option value="3">Vidutiniškai</option>
                                                        <option value="4">Geriau nei vidutiniškai</option>
                                                        <option value="5">Gerai</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div id="languagePointer"></div>
                                            <button disabled id="lanRemove" type="button" class="btn disabled white grey-text">
                                                <span class="glyphicon glyphicon-minus"></span>
                                            </button>
                                            <button id="lanAdd" type="button" class="orange wave effect waves-white btn btn-primary">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button>
                                        </div>
                                        <div class="row no-margin-bot">
                                            <h5 class="col s12 light center">Reikalingi įgūdžiai</h5>
                                            <div id="atr1">
                                                <div class="input-field col s2">
                                                    <input id="req1" type="text" class="validate attribute">
                                                    <label for="req1">Įgūdis</label>
                                                </div>
                                                <div class="input-field col s2">
                                                    <label for="exp1">Patirtis</label>
                                                    <select id="exp1">
                                                        <option value="0">Pagrindai</option>
                                                        <option value="1">iki 1m.</option>
                                                        <option value="2">1-2m.</option>
                                                        <option value="3">3-4m.</option>
                                                        <option value="4">4m. ir daugiau</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div id="skillPointer"></div>
                                            <button disabled id="atrRemove" type="button" class="btn disabled white grey-text">
                                                <span class="glyphicon glyphicon-minus"></span>
                                            </button>
                                            <button id="atrAdd" type="button" class="orange wave effect waves-white btn btn-primary">
                                                <span class="glyphicon glyphicon-plus"></span>
                                            </button>
                                        </div>
                                        <div class="row">
                                                <button type="button" id="search" class="btn orange col m12 l12">
                                                    <i class="material-icons left">search</i> Ieškoti
                                                </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="resultsSection" class="section scrollspy">
                        <div class="col m12 l12">
                            <div class="row">
                                <div class="col m12 l12 orange accent-2 white-text white z-depth-2">
                                    <h4>Paieškos rezultatai</h4>
                                </div>
                            </div>
                            <div class="row no-margin-bot">
                                <div class="col m12 l12 s12">
                                    <div class="row no-margin-bot">
                                        <div class="col m12 l12 s12 white z-depth-2" style="padding:10px">
                                            <table>
                                                <thead>
                                                <tr>
                                                    <th data-field="age">Amžius</th>
                                                    <th data-field="salary">Norima alga</th>
                                                    <th data-field="experience">Patirtis</th>
                                                    <th data-field="degree">Išsilavinimas</th>
                                                    <th data-field="languages">Kalbos</th>
                                                    <th data-field="skills">Įgūdžiai</th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                    {{#each results}}
                                                        <tr>
                                                            <td>{{this.age}}</td>
                                                            <td>{{getSalary this}}</td>
                                                            <td>{{getExperience this}}</td>
                                                            <td>{{getDegree this}}</td>
                                                            <td>{{getLanguages this}}</td>
                                                            <td>{{getSkills this}}</td>
                                                            {{>infoButton user_id=this.user_id}}
                                                            <td>{{#if isBooked this.user_id}}
                                                                <a class="btn btn-floating btn-large green user-bookmark-button" id="{{this.user_id}}"><i class="large material-icons">library_books</i></a>
                                                                {{else}}
                                                                <a class="btn btn-floating btn-large orange user-bookmark-button" id="{{this.user_id}}"><i class="large material-icons">library_books</i></a>
                                                                {{/if}}
                                                            </td>
                                                        </tr>
                                                    {{#with modalTrigger}}{{/with}}
                                                    {{/each}}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row center no-margin-bot">
                        <div class="col m12">
                            <ul class="pagination" style="display:inline-block">
                                <li class="disabled chevron-left"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                                <li class="active pagination-button orange" value="1" id="page1"><a href="#!">1</a></li>
                                {{#each pages}}
                                    <li class="pagination-button" value="{{this}}" id="page{{this}}"><a href="#!">{{this}}</a></li>
                                {{/each}}
                                <li class="chevron-right disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col m2 l2">
            <ul class="section table-of-contents" style="position:fixed; z-index:999">
                <li><a href="#searchSection">Paieška</a></li>
                <li><a href="#resultsSection">Paieškos rezultatai</a></li>
            </ul>
        </div>
    </div>
    <div id="skillModal" class="modal">
        <div class="modal-content">
            <div class="row">
                <form class="col s12">
                    <div class="row center">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">search</i>
                            <input id="skill_search" type="text" class="validate">
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="col m12">
                    {{#each skill_search}}
                        <button type="button" class="btn btn-primary attribute-button orange" value="{{this.name}}">
                            <span class="card-title">{{this.name}}</span>
                        </button>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Uždaryti</a>
        </div>
    </div>
    <div id="resultModal" class="modal modal-fixed-footer overlay-modal" style="display:none">
        {{#with searchResult}}
            <div class="modal-content" style="padding: 0">
                {{#if resultModalLoaded}}
                    {{>cvViewLoader id=(this)}}
                {{/if}}
            </div>
            <div class="modal-footer">
                {{#unless isBookmarked this.user_id}}
                    <button class=" modal-action modal-close waves-effect waves-green btn-flat user-bookmark-button" id="bookmark" value="{{this}}">Išsaugoti vartotoja</button>
                {{else}}
                    <button class=" modal-action modal-close waves-effect waves-green btn-flat user-bookmark-button" id="bookmark" value="{{this}}">Pašalinti iš išsaugotų vartotojų</button>
                {{/unless}}
                {{#unless isRequested this.user_id}}
                    <button class=" modal-action modal-close waves-effect waves-green btn-flat" id="request" value="{{this}}">Paprašyti kontaktų</button>
                {{/unless}}
            </div>
        {{/with}}
    </div>
</template>