<template name="cvRequestIndex">
    <div class="row no-margin-bot">
        <div class="col m10">
            <div class="section scrollspy" id="main">
                <div class="col m12 l12">
                    <div class="row">
                        <div class="col m12 l12 orange accent-2 white-text white z-depth-2">
                            <h4><i class="material-icons header-icon">comment</i>Gautos užklausos</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col m12 l12">
                            <div class="row">
                                <div class="col m12 l12 white z-depth-2">
                                    <table>
                                        <thead>
                                        <tr>
                                            <th data-field="date">Data</th>
                                            <th data-field="company">Įmonė</th>
                                            <th data-field="status">Statusas</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {{#each requests}}
                                            <tr>
                                                <td>{{date (this.createdAt)}}</td>
                                                <td>{{company_name (this.company_id)}}</td>
                                                {{#if isAccepted this.status}}
                                                    <td><span class="btn btn-floating btn-large green" style="width: 100%; border-radius: 0px; cursor: default !important;"><i class="large material-icons">thumb_up</i></span></td>
                                                {{else}}
                                                    {{#if isRejected this.status}}
                                                        <td><span class="btn btn-floating btn-large red" style="width: 100%; border-radius: 0px; cursor: default !important;"><i class="large material-icons">thumb_down</i></span></td>
                                                    {{else}}
                                                        <td><span class="btn btn-floating btn-large orange" style="width: 100%; border-radius: 0px; cursor: default !important;"><i class="large material-icons">schedule</i></span></td>
                                                    {{/if}}
                                                {{/if}}
                                                <td class="center">
                                                    {{#unless isAccepted this.status}}
                                                        {{#unless isRejected}}
                                                            <a href="/?token={{this.token}}&controller=y" class="btn btn-floating btn-large waves-effect waves-light green"><i class="large material-icons">thumb_up</i></a>
                                                            <a href="/?token={{this.token}}&controller=n" class="btn btn-floating btn-large waves-effect waves-light red"><i class="large material-icons">thumb_down</i></a>
                                                        {{/unless}}
                                                    {{/unless}}
                                                    <a href="/company/view/{{this.company_id}}" class="btn btn-floating btn-large waves-effect waves-light orange" id="{{this.company_id}}"><i class="large material-icons">info_outline</i></a>
                                                </td>
                                            </tr>
                                        {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>